<table class="table" style="margin-top:20px">
	<thead>
	<tr>
		<th style='width:52%'>Name</th>
		<th style='width:22%'>Validity</th>
		<th>Expired on</th>
		<th colspan="2" style='width:37%'>Price</th>
	</tr>
	</thead>
	
	<tbody>
	  <% services.each do |service| %>
	  <tr>
		<td class="dp"><p><%= service.name %></p></td>
		<td class="dp"><p><%= service.validity %></p></td>
		<td><%= service.expired.strftime('%d %b %Y') %></td>
		<td class="dp"><p><%= service.selling_price %><br><span style='text-decoration: line-through;'><%= service.original_price %></span><br><span><%= service.percent %>%</span></p></td>
		<td style="margin:0px;padding:10px"><div class="button-org small"><a href="<%= book_now_path(:id => service.friendly_id) %>" class="">Book Now</a></div></td>
	  </tr>
	  <% end %>
	</tbody>
</table>