<div class='container'>
	<div class='col-xs-12'>
		<h2 style='' class='text-center'>OUR STUDIO PARTNERS</h2>
		<p style='margin-bottom:47px' class='text-center font-15'>FitnessPapa Partners With the Best Fitness Studios, Gyms and Give You Access to all of them in One Place</p>
	</div>
	<div class='col-xs-12 clearfix'>
		<%= link_to centers_list_path(:city => params['city'], :map => 'true'), :class => 'pull-right', :remote => true do %>
			<i class='fa fa-map-marker fa-2x pull-left fa-border' style='padding:4px 10px'></i>
		<% end %>
		<%= link_to centers_list_path(:city => params['city']), :class => 'pull-right', :remote => true do %>
			<i class='fa fa-bars fa-2x pull-left fa-border' style='margin-right:0px;border-right:0px'></i>
		<% end %>
	</div>
	<div class='col-xs-12'>
		<ul class='list-inline text-center'>
			<li class='active'>
				<%= link_to 'Bangalore', centers_list_path(:city => 'Bengaluru'), :method => 'get', :remote => true, :style => 'color:white' %>
			</li>
			<li><a href='' style='color:white'>Mumbai</a></li>
			<li><a href='' style='color:white'>
				<%= link_to 'Chennai', centers_list_path(:city => 'chennai'), :method => 'get', :remote => true, :style => 'color:white' %>
			</a></li>
			<li><a href='' style='color:white'>New Delhi</a></li>
			<li><a href='' style='color:white'>Pune</a></li>
			<li><a href='' style='color:white'>Gurgaon</a></li>
			<li><a href='' style='color:white'>Noida</a></li>
			<li><a href='' style='color:white'>
				<%= link_to 'hyderabad', centers_list_path(:city => 'hyderabad'), :method => 'get', :remote => true, :style => 'color:white' %>
			</a></li>
			<li><a href='' style='color:white'>Kolkata</a></li>
		</ul>
		<hr>
		<% if params[:map].nil? %>
			<div class="row text-center" id='centers-list'>
			</div>
		<% end %>
		<% unless params[:map].nil? %>
			<div class='row'>
				<section id='cd-google-map'>
				    <!-- #google-container will contain the map  -->
				    <div id='google-container' style="height:525px"></div>
				    <!-- #cd-zoom-in and #zoom-out will be used to create our custom buttons for zooming-in/out -->
				    <div id='cd-zoom-inner'></div>
				    <div id='cd-zoom-outer'></div>
				    <address><%= params['city'].capitalize %></address> 
				</section>
			</div>
		<% end %>
	</div>
</div>