<ul class="inline-list right" style="margin-top:13px;margin-bottom:0px">
 <% unless signed_in?  %>
	<li><a href="<%= registrations_customer_path %>">Sign Up</a></li>
	<li><a href="<%=sessions_customer_path %> ">Sign In</a></li>
	<li class="active"><a href=" <%= registrations_partner_path  %>">Register Your Business</a></li>
 <%end%>
 <% if is_customer? %>
 	<li><a href="<%= customers_details_path %>" style='color:white'>My Dashboard</a></li>
 	<li><a href="<%= sessions_customer_logout_path %>" style='color:white'>Logout</a></li>
 <%end%>
 <% if is_partner?  %>
 	<li><a href="<%= partners_centers_path %>" style='color:white'>My Dashboard</a></li>
 	<li><a href="<%= sessions_customer_logout_path %>" style='color:white'>Logout</a></li>
 <%end%>
</ul>