<ul class="nav navbar-nav navbar-right">
	<% unless signed_in?  %>
		<li class="main-nav"><a class="cd-signin" href="#0">Login</a></li>
	<%end%>
	 <% if signed_in? %>
    <li class="profile dropdown hidden-xs">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <strong><%= current_user.first_name %></strong>
          <span><i class="fa fa-chevron-down"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="clearfix" href="#">
               <!-- image_tag "//d1djl7kr085bc1.cloudfront.net/store/#{current_user.image_id}", :class => 'img img-thumbnail'  -->
              <img src="/assets/avatar.png" alt="User Avatar">
              <div class="detail">
                <strong><%= current_user.first_name %></strong>
                <p class="grey"><%= current_user.email %></p>
              </div>
            </a>
          </li>
          <!-- <li><a tabindex="-1" href="<%= customers_mypass_index_path %>" class="main-link"><i class="fa fa-ticket"></i> My Pass</a></li> -->
          <li><a tabindex="-1" href="<%= customers_classes_path %>" class="main-link"><i class="flaticon-identity6"></i> My Classes</a></li>
          <li><a tabindex="-1" href="<%= customers_classes_path(:history => true) %>" class="main-link"><i class="flaticon-identity6"></i> My History</a></li>
          <li><a tabindex="-1" href="<%= customers_class_path('passport') %>" class="main-link"><i class="flaticon-identity6"></i> My Orders</a></li>
          <li><a tabindex="-1" href="<%= customers_referrals_path %>" class="main-link"><i class="flaticon-identity6"></i> Refer & Earn</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="<%= edit_customers_profile_path('v1') %>" class="main-link"><i class="fa fa-cog fa-lg"></i> My Profile</a></li>
          <li><a tabindex="-1" href="<%= customer_change_password_path %>" class="main-link"><i class="fa fa-cog fa-lg"></i> Change Password</a></li>
        </ul>
      </li>
            <!-- <li><a tabindex="-1" href="<%= customers_mypass_index_path %>" class="main-link"><i class="fa fa-ticket"></i> My Pass</a></li> -->
      <li class="visible-xs"><a tabindex="-1" href="<%= customers_classes_path %>" class="main-link"><i class="flaticon-identity6"></i> My Class</a></li>
      <li  class="visible-xs"><a tabindex="-1" href="<%= customers_classes_path(:history => true) %>" class="main-link"><i class="flaticon-identity6"></i> My History</a></li>
      <li  class="visible-xs"><a tabindex="-1" href="<%= customers_class_path('passport') %>" class="main-link"><i class="flaticon-identity6"></i> My Orders</a></li>
      <li class="divider visible-xs"></li>
      <li  class="visible-xs"><a tabindex="-1" href="<%= edit_customers_profile_path('v1') %>" class="main-link"><i class="fa fa-cog fa-lg"></i> My Profile</a></li>
      <li  class="visible-xs"><a tabindex="-1" href="<%= customer_change_password_path %>" class="main-link"><i class="fa fa-cog fa-lg"></i> Change Password</a></li>
    <li><%= link_to "Logout", session_path("1"), method: :delete, data: {confirm: "Log out of FitnessPapa?"} %></li>

  <%end%>
</ul>

