<%
meta title: "Home page | FitnessPapa",
     description: "Ready to join thousands of business selling on FitnessPapa? FitnessPapa is an online service to book services under various categories instantly",
     keywords: %w(fitnesspapa gym swimming services book bangalore )
%>



<!-- header -->
<header class="home">
<div class="top-header bg-none">
<div class="header">
	
	<div class="logo">
	<a href="<%= root_url %>"><img src="./assets/logo.png" alt=""></a>
	</div>
	<!-- menu -->
	<div class="nav-top">
		<%= render :partial => 'homepage/headerbtn' %>
	</div><!-- end menu -->
	</div>
	</div>
	
	<div class="header">
	
	<div class="banner-text">
		<h1>Join Fitness Papa</h1>
		<span>Search and find fitness services anywhere in India</span>
		<div class="blu-button-main">
		<div class="blu-button"><a href="#services">SEARCH NOW</a></div>
		</div>
	</div>
	
</div><!-- end header -->
</header><!-- end header -->
<!-- end header -->
			
<!-- content -->
<div class="container" id="services">
	<div class="container-main">
		<div class="sqr-boxs-cat">
		<div class="sqr-box-title">
		<h2>Fitness Services</h2>
		</div>
		<div style="margin-left:246px">
		<% @categories.each do |category| %>
			<div class="sqr-boxs-list">
				<div class="sqr-boxs-img">
					<a href="<%= category_populars_path(category.friendly_id) %>"><img src="./assets/<%=category.friendly_id%>-small.jpg" alt=""></a>
				</div>
				<div class="sqr-boxs-txt">
					<h4><a href="#">
						<%= category.name.capitalize %>
					</a></h4>
				</div>
			</div>
		<% end %>
		</div>
		</div>
	</div>
</div>
<!-- end content -->
			
<!-- content -->
<div class="content-green">
<div class="container">
	<h2 class="wht" style="font-size:34px;font-weight:bold">Welcome to online MarketPlace of Fitness Centers </h2>
	<h2 class="wht" style="font-size:26px">Now buying Fitness services is Easy, Simple & Flexible <br>
	<span style='margin-top:12px;font-size:22px'>Call Us:: 8861303761</span>
	</h2>
	<!-- <ul>
		<li>Now buying fitness & welness services is Easy, Simple &</li>
		<li><b>1.7 Million</b><span>services rendered</span></li>
		<li><b>40%</b><span>increase in partner <br>revenue</span></li>
		<li><b>50,000 </b><span>registered businesses</span></li>
		<li><b>20,000</b><span>active users</span></li>
	</ul> -->
</div>
</div>

<!-- content -->
<!-- <div class="container">


	<div class="container-main">
		<div class="sqr-box-title">
		<h2>See what customers are saying</h2>
		</div>
		<ul class="bxslider">
		
		<li>
		 <div class="slider-img">
		  <img src="./assets/tem_img2.jpg" alt=""/>
		 </div>
		 <div class="slider-text">
		  <p>I was diagnosed with actism when I was 7 years old and I have been bullied badly, even out in public.  So when I used FitnessPapa to search for a fitness class, I was scared of getting bullied.  But anytime I go for the fitness class I feel empowered and independent.  I love FitnessPapa</p>
		 </div>
		</li>
		
		<li>
		 <div class="slider-img">
		  <img src="./assets/tem_img2.jpg" alt=""/>
		 </div>
		 <div class="slider-text">
		  <p>I was diagnosed with actism when I was 7 years old and I have been bullied badly, even out in public.  So when I used FitnessPapa to search for a fitness class, I was scared of getting bullied.  But anytime I go for the fitness class I feel empowered and independent.  I love FitnessPapa</p>
		 </div>
		</li>
		
		</ul>
		</div>
</div> -->

<!-- content -->
<div class="content-gray">
<div class="container" >
<div class="join-box">
<h2>Ready to join thousands of business selling on <b>Fitness<span>Papa</span></b>?</h2>
	<div class="blu-button-main">
		<div class="blu-button"><a href="<%= registrations_partner_path %>">JOIN NOW</a></div>
		</div>
</div>
</div>
</div>

<!-- content -->
<div id="content-app">

	<div class="container-main">
		 <img src="./assets/app-ios.jpg" alt=""/>
		 <img src="./assets/app-and.jpg" alt=""/>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.bxslider').bxSlider();
	})
</script>