<%
meta title: "Home page | FitnessPapa",
     description: "Ready to join thousands of business selling on FitnessPapa? FitnessPapa is an online service to book services under various categories instantly",
     keywords: %w(fitnesspapa gym swimming services book bangalore )
%>

<div class="row banner">
 <div class="col-xs-12">
 	 <div class="item">
 	 	<img src="/assets/bg-1.jpg" alt="Owl Image" class="img-responsive hidden-xs" style="margin-top: -99px;">
 	 	<img src="/assets/bg-1.jpg" alt="Owl Image" class="img-responsive visible-xs" style="margin-top: -54px;">
 	 	 <!-- <div class="carousel-caption">
 	 	  		    <div class="banner-text">
 	 	  	    		<h1>Buy Flexible Fitness pass anywhere in India</h1>
 	 	  	    	</div>
 	 	  		 </div> -->
 		 <!-- Search panel -->
 		 <!-- <div class="search-panel text-center">
 		          	<div class="row">
 		          		<div class="col-sm-12 col-md-6 col-md-offset-3">
 		 		         	<div class="search-sec-main">
 		 						<%= search_form_for @c, :url => search_path, :class => 'services' do |f| %>
 		 						<div class="row">
 		 							<div class="col-xs-9">
 		 								<input id="cities" type="text" name="q[place_name_cont_any]" placeholder="Type Locality or Landmark" class="ui-autocomplete-input form-control" autocomplete="off">		
 		 							</div>
 		 							<div class="col-xs-3">
 		 								<input type="submit" value="Search" class="form-control btn btn-primary">
 		 							</div>
 		 						</div>
 		 					  <%end%>
 		 		         	</div>
 		          		</div>
 		          	</div>
 		          </div> -->
 	 </div>
 </div>	
</div>
			
<!-- content
<div class="container" id="services">
	<div class="container-main">
		<div class="sqr-boxs-cat">
		<div class="sqr-box-title">
		<h2>Fitness Services</h2>
		</div>
		<div style="margin-left:120px">
		<% @categories.each do |category| %>
			<div class="sqr-boxs-list">
				<div class="sqr-boxs-img">
					<a href="<%= category_populars_path(category.friendly_id) %>"><img src="./assets/<%=category.friendly_id%>-small.jpg" alt=""></a>
				</div>
				<div class="sqr-boxs-txt">
					<h4><a href="#">
						<%= category.name.capitalize %>
					</a></h4>
				</div>
			</div>
		<% end %>
		</div>
		</div>
	</div>
</div> -->
<!-- <div class="">
	<div class="row catbox">
		<div class="col-xs-6 col-sm-4 col-md-2 each text-center">
			<i class="flaticon-gym7"></i> 
			<p>Gym</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 each text-center">
			<i classearchs="flaticon-swimming20"></i> 
			<p>Swimming</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 each text-center">
			<i class="flaticon-man271"></i> 
			<p>Yoga</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 each text-center">
			<i class="flaticon-man20"></i> 
			<p>Fitness Studio</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 each text-center">
			<i class="flaticon-massage2"></i> 
			<p>Spa & Saloon</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 each text-center">
			<i class="flaticon-multiple25"></i> 
			<p>Class</p>
		</div>
	</div>
</div> -->
<!-- end content -->
			
<!-- content -->

<div class="container" id='passport'>
    <div class="row big-padding">
        <h2 class="osLight text-center">YOUR PASSPORT TO FITNESS FREEDOM</h2>
        <hr>
    	<div class="col-xs-12 col-sm-4 text-center">
    		<h4>FitnessPapa Passport</h4><br>
			<i class='flaticon-identity6' style='font-size:86px'></i><br><br>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#package">
			  Book Now
			</button>
		</div><!--/.col-->	
		<div class="col-xs-12 col-sm-8">
			<ul class="list-unstyled" style="font-size:14px;margin-top:15px"> 
				<li style="margin-bottom:10px"><i class='fa fa-hand-o-right'>&nbsp;</i>Passport costs 1500 rupees(Including Tax) a Month</li>
				<li style="margin-bottom:10px"><i class='fa fa-hand-o-right'>&nbsp;</i>Access to 20 Fitness Classes Per Month</li>
				<li style="margin-bottom:10px"><i class='fa fa-hand-o-right'>&nbsp;</i>Three Classes a Month at the Same Studio</li>
				<li style="margin-bottom:10px"><i class='fa fa-hand-o-right'>&nbsp;</i>Try a Different Fitness Studio Everyday</li>
				<li style="margin-bottom:10px"><i class='fa fa-hand-o-right'>&nbsp;</i>Make Variety a Routine</li>
				<li style="margin-bottom:10px"><i class='fa fa-hand-o-right'>&nbsp;</i>Pay One Time</li>
			</ul>
		</div>
	</div><!--/.row-->
</div>




<div class="row color-two big-padding">
	<div class="container">
		<div class="col-xs-12 col-sm-4">
			<p class="circlers"><i class="flaticon-windows10"></i></p>
			<p class="circlers-para font-15">1) Find Book & Sweat with just a Tap</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			  <p class="circlers"><i class="flaticon-smartphone70"></i></p>
			  <p class="circlers-para font-15">2) Reserve your classes for a month anytime anywhere using Mobile/Web</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			  <p class="circlers"><i class="flaticon-healthy5"></i></p>
			  <p class="circlers-para font-15">3) Never get Bored. Discover new ways to Move and Shake</p>
		</div>
	</div>
</div>


<!-- <div class="row big-padding" style='background:rgb(207,119,23); color:white'>
		<div class="container" style="margin-top:32px">
		<div class="col-xs-12">
			<h2 style="" class="text-center">HOW IT WORKS</h2>
			<p style="margin-bottom:47px" class="text-center">FitnessPapa is your source for discovering & buying flexible passes & classes near you</p>
			<hr>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<p class="circlers"><i class="fa fa-map-marker"></i></p>
					<p class="circlers-para">Discover Gym, Swim, Yoga, Fitness Studios & Special classes near you</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					  <p class="circlers"><i class="flaticon-wallet4"></i></p>
					  <p class="circlers-para">Buy 1 day, 2 days, 5 days, 10 days, 30 days Flexible pass near you when you want</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					  <p class="circlers"><i class="flaticon-hand132"></i></p>
					  <p class="circlers-para">No Registration or joining fees for FitnessPapa network centers</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					  <p class="circlers"><i class="flaticon-money192"></i></p>
					  <p class="circlers-para">No Long term Financial & Time Commitment</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					  <p class="circlers"><i class="flaticon-savings1"></i></p>
					  <p class="circlers-para">Buy at discounted & lowest price Earn money on every purchase & referral</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					  <p class="circlers"><i class="flaticon-cash5"></i></p>
					  <p class="circlers-para">Check Pricing, Deals, Reviews & Ratings</p>
				</div>

			</div>
		</div>
	</div>
</div> -->
<div class="row big-padding">
		<div class="container">
		<div class="col-xs-12">
			<h2 style="" class="text-center">WORKOUTS</h2>
			<p style="margin-bottom:47px" class="text-center font-15">FitnessPapa Passport provides you access to over 40 different workouts. Keep Trying New and Discover Yourself.</p>
			<hr>
		</div>
		<div class="col-xs-12">
			<div class="row text-center">
				<div class="col-xs-6 col-sm-3"><h5>Zumba</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Dance</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Aerobics</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Gym</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Boxing</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>TRX</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>HIIT</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>CrossFit</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Bootcamp</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Pilates</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Reformer Pilates</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Hattha Yoga</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Vinyasa Yoga</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Power Yoga</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Spinning</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>RPM</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>BollyFit</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Crush Cardio</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Circuit Training</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Krav Maga</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Muay Thai</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>ABT</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Kettle Bell</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Body Combat</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Swimming</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Rock Climbing</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Outdoor Cycling</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Running</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Gym Ball</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Skate Boarding</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Personal Training</h5></div>
				<div class="col-xs-6 col-sm-3"><h5>Body Conditioning</h5></div>
			</div>
		</div>
	</div>
</div>
<div class="row big-padding" style="background-color:#2A3341;color:white">
		<div class="container">
		<div class="col-xs-12">
			<h2 style="" class="text-center">OUR STUDIO PARTNERS</h2>
			<p style="margin-bottom:47px" class="text-center font-15">FitnessPapa Partners with the Best Fitness Studios, Gyms and give you access to all of them in One Place</p>
		</div>
		<div class="col-xs-12">
			<ul class="list-inline text-center">
				<li class="active"><a href="" style="color:white">Bangalore</a></li>
				<li class="active"><a href="" style="color:white">Mumbai</a></li>
				<li class="active"><a href="" style="color:white">Chennai</a></li>
				<li class="active"><a href="" style="color:white">New Delhi</a></li>
				<li class="active"><a href="" style="color:white">Pune</a></li>
				<li class="active"><a href="" style="color:white">Gurgaon</a></li>
				<li class="active"><a href="" style="color:white">Noida</a></li>
				<li class="active"><a href="" style="color:white">Hyderabad</a></li>
				<li class="active"><a href="" style="color:white">Kolkata</a></li>
			</ul>
			<hr>
			<div class="row text-center">
				<div class="col-xs-6 col-sm-3"><p>Tarun Associates </p></div>
				<div class="col-xs-6 col-sm-3"><p>O2 Health Studio</p></div>
				<div class="col-xs-6 col-sm-3"><p>Phoenix Fitness </p></div>
				<div class="col-xs-6 col-sm-3"><p>Sastha Pools</p></div>
				<div class="col-xs-6 col-sm-3"><p>Global Swim Center</p></div>
				<div class="col-xs-6 col-sm-3"><p>MNC Sports Academy</p></div>
				<div class="col-xs-6 col-sm-3"><p>Fitness One </p></div>
				<div class="col-xs-6 col-sm-3"><p>Fitness One</p></div>
				<div class="col-xs-6 col-sm-3"><p>Pink Fitness</p></div>
				<div class="col-xs-6 col-sm-3"><p>The Answer is Fitness</p></div>
				<div class="col-xs-6 col-sm-3"><p>Zero Lap Fitness</p></div>
				<div class="col-xs-6 col-sm-3"><p>Fit Life Gym</p></div>
				<div class="col-xs-6 col-sm-3"><p>STEPPERZ</p></div>
				<div class="col-xs-6 col-sm-3"><p>136.1 Yoga Studio</p></div>
				<div class="col-xs-6 col-sm-3"><p>Augustyoga</p></div>
				<div class="col-xs-6 col-sm-3"><p>Fitness Cube</p></div>
				<div class="col-xs-6 col-sm-3"><p>FunkyTown</p></div>
				<div class="col-xs-6 col-sm-3"><p>Apple Fitness</p></div>
				<div class="col-xs-6 col-sm-3"><p>GENESIS</p></div>
				<div class="col-xs-6 col-sm-3"><p>Contours Fitness Studio</p></div>
			</div>
		</div>
	</div>
</div>
<div class="row big-padding" style="  background: rgb(42, 51, 65);color: white;border-top: 1px solid #e3e3e3;">
	<div class="container">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<h3 style="margin-top:0px;">Grow Your Business with FitnessPapa!</h3>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href='http://fitnesspapa.com/partners' class="btn btn-primary pull-right">JOIN AS PARTNERS</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="row big-padding">
        <h2 class="osLight text-center">See what customers are saying</h2>
        <hr>
    	<div class="col-md-10 col-md-offset-1">
			<div class="row testimonials">
				<div class="col-sm-4">
						<p class="clients-words">FitnessPapa flexible pass works best for me as i buy whenever i need hitting gym near to my home & use service.</p>
						<span class="clients-name text-primary">— Suraj</span>
						<img class="img-circle img-thumbnail" src="https://pbs.twimg.com/profile_images/548393030420402176/dxdBlYqA.jpeg" style="width:60px;height:60px">
				</div>
				<div class="col-sm-4">
						<p class="clients-words">FitnessPapa was a key factor for me to hit the gym again due to their flexible pass meant less financial and time commitment</p>
						<span class="clients-name text-primary">— Soumya</span>
						<img class="img-circle img-thumbnail" src="https://lh5.googleusercontent.com/-gdrbjgmwY0I/AAAAAAAAAAI/AAAAAAAAD3U/3iirHwTS8K0/photo.jpg" style="width:60px;height:60px">
				</div>
				<div class="col-sm-4">
						<p  class="clients-words">I bought swimming pass at much lower price for my daughter at FitnessPapa. Their flexible offer is great.</p>
						<span class="clients-name text-primary">— Rajesh</span>
						<img class="img-circle img-thumbnail" src="https://s.yimg.com/wv/images/cf45ae8bf88c24566f04c23fe86f26a0_96.jpg" style="width:60px;height:60px">
				</div>
			</div><!--/.row-->
		</div><!--/.col-->	
	</div><!--/.row-->
</div>
<script>
$(document).ready(function() {
/*$("#banner").owlCarousel({
  autoPlay: 3000, //Set AutoPlay to 3 seconds
  navigation: false,
  animateOut: 'fadeOut',
  pagination: false,
  items : 1,
  itemsDesktop : [1199,3],
  itemsDesktopSmall : [979,3]
 });
*/
});

</script>

<%= render 'homepage/passport' %>


