<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin-top:35px">
      <h2 class="osLight">Change Password</h2>
      <div class="box">
        <%= simple_form_for @user, :url => customer_update_password_path, :html => {:class => 'cd-form', 'data-parsley-validate' => true} do |f| %>
          <%= render 'layouts/notices' %>
          <%= f.input :current_password, label_html: { class: 'image-replace cd-password'}, input_html: { class: 'full-width has-padding has-border', 'data-parsley-required' => 'true', :placeholder => 'Old Password'  }, wrapper_html: { class: 'fieldset' } %>
          <%= f.input :password, label_html: { class: 'image-replace cd-password'}, input_html: { class: 'full-width has-padding has-border', 'data-parsley-required' => 'true', :placeholder => 'New Password'  }, wrapper_html: { class: 'fieldset' } %>
          <%= f.input :password_confirmation, label_html: { class: 'image-replace cd-password'}, input_html: { class: 'full-width has-padding has-border', 'data-parsley-required' => 'true', :placeholder => 'Password Confirmation'  }, wrapper_html: { class: 'fieldset' } %>
          <div class="row">
            <div class="col-xs-12">
              <%= f.button :submit, "Update-Password", class: 'full-width has-padding', wrapper_html: { class: 'fieldset' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

