<div class="modal fade" id="reserve" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="padding:0px">
        <%= image_tag "//d1djl7kr085bc1.cloudfront.net/store/#{@center.image_id}", :class => 'group list-group-image img-responsive', :style => 'width:100%;height:200px' %>
      </div>
      <div class="modal-body">
        <h4 class="text-center"><%= @fpclass.name.upcase %><br><span class='help-block'><%= @center.name.capitalize %></span></h4>
        <div class="row">
          <div class="col-xs-12">
            <h5></h5>
            <p>Level :: <%= @fpclass.level %></p>
            <p>Instructor :: <%= @fpclass.instructor.try(:name).try(:capitalize) %></p>
            <p><span class='help-block'><%= @fpclass.description %></span></p>
            <p><i class='fa fa-clock-o'></i>&nbsp;&nbsp;<%= local_time("#{params['date']}", '%B %d, %a') %> ( <%= @fpclass.duration %> Minutes) - <%= params['time'] %></p>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <%= link_to 'RESERVE CLASS', reserves_path(:id => @fpclass.friendly_id, :date => params[:date], :time => params['time']), :class => 'btn btn-primary reserve-btn', method: :post, remote: :true, :style => 'display:block', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." }%>
      </div>
    </div>
  </div>
</div>

