
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <!-- <a href="#" class="pull-left avatar"> 
                        <img src="#" class="img-circle" alt="User Avatar"> 
                    </a> -->
                    <div class="pull-left m-left-sm">
                        <strong class="font-14 block"><%= @customer.full_name %></strong>
                        <small class="text-muted"><%= @customer.email %></small>
                        <small class="text-muted"><%= @customer.location %></small>
                        <div class="seperator"></div>
                    </div>
                    <div class="pull-right m-left-sm">
                        <strong class="font-14 block"> <%= @customer.emergency_name %></strong>
                        <small class="text-muted"> <%= @customer.emergency_phone %></small>
                        <div class="seperator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    <span>Passports</span>
                    <span class="pull-right">
                    </span>
                </div>
                <table class="table table-striped table-responsive" id="responsiveTable">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Tickets Left</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% unless @order.blank? %>
                            <tr>
                                <td><%= local_time(@order.start_date, "%B %e, %Y") %></td>
                                <td><%= local_time(@order.end_date, "%B %e, %Y") unless @order.end_date.nil? %></td>
                                <td><%= @order.remaining_tickets  %></td>
                                <td></td>
                            </tr>
                        <% end %>
                </tbody>
                </table>
                <div class="panel-footer clearfix">
                    <span class="pull-right">
                        
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="padding-md" style="padding-top:0px !important">
                <div class="panel panel-default table-responsive">
                    <div class="panel-heading">
                        <span>Reservations</span>
                    </div>
                    <table class="table table-striped table-responsive" id="responsiveTable">
                        <thead>
                            <tr>
                                <th>Class Name</th>
                                <th>Center Name</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% unless @reservations.nil? %>
                                <% @reservations.each do |r| %>
                                    <tr>
                                        <td><%= r.fpclass.name %></td>
                                        <td><a href="mailto:<%= r.customer.try(:email) %>"><%= r.center.name %></a></td>
                                        <td><%= "#{r.expired_at} #{r.fpclass.start_time.strftime("%H:%M") unless r.fpclass.blank?}" %></td>
                                        <td></td>
                                    </tr>
                                <%end%>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="panel-footer clearfix">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
