<%= render :partial => 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="color: rgb(230, 126, 34);margin-top: 40px;margin-bottom: 34px;">
        Thank you buying FitnessPapa Package!
      </h1>
    </div>
  </div>
      
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Order details</h4>
        </div>
        <div class="panel-body">
          <p>Order Id :: <%= @order.number %></p>
          <p>Total Price : <%= @order.total_amount %></p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="span7">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Contact Details</h4>
          </div>
          <div class="panel-body">
            <p>
              Name : <%= params[:firstname] %> <br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>	