<%= form_for @service, url: getpath, method: getmethod do |f| %>
	<div class="row">
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[type]" class="inline">Service Type -</label></div>
				<div class="small-8 columns">
				<%if(@service.service_type == '2') %>
					<%= f.select :service_type, "<option value='1'>Regular Service</option><option value='2' selected >Upcoming Event</option>".html_safe %>
				<%else  %>
					<%= f.select :service_type, "<option value='1'>Regular Service</option><option value='2'>Upcoming Event</option>".html_safe %>
				<%end  %>

				</div>
			 </div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[category_id]" class="inline">Service Category -<br><small>(Recommended to select primary category )</small> </label></div>
				<div class="small-8 columns"><%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', @service.category_id) %></div>
			</div>
		</div>
		<div class="large-12 columns">
			<div class="row">
				<div class="small-2 columns"><label for="service[name]" class="inline">Service Name</label></div>
				<div class="small-10 columns"><%= f.text_field :name , :required => true %></div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[validity]" class="inline">Validity</label></div>
				<div class="small-2 columns"><%= f.text_field :validity, :placeholder => 'Days', :required => true%></div>
				<div class="small-6 columns"><label for="" class="inline">(Gym, Swimming)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[time_taken]" class="inline">Time Taken</label></div>
				<div class="small-2 columns"><%= f.text_field :time_taken, placeholder: 'Min' , :required => true %></div>
				<div class="small-6 columns"><label for="" class="inline">(Spa, Saloon & Consultant)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[original_price]" class="inline">Original Price</label></div>
				<div class="small-4 columns"><%= f.text_field :original_price, :placeholder => 'Rupees' , :required => true %></div>
				<div class="small-4 columns"><label for="" class="inline">(with Service Tax)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[selling_price]" class="inline">Selling Price</label></div>
				<div class="small-4 columns"><%= f.text_field :selling_price, :placeholder => 'Rupees' , :required => true %></div>
				<div class="small-4 columns"><label for="" class="inline">(with Service Tax)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[gender_id]" class="inline">Gender</label></div>
				<div class="small-8 columns"><%= f.select :gender_id, options_from_collection_for_select(Centertype.all, 'id', 'name') , :required => true %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[schedule]" class="inline">Schedule</label></div>
				<div class="small-8 columns"><%= f.text_field :schedule , :required => true %></div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[expired_on]" class="inline right">Expire limit</label></div>
				<div class="small-3 columns"><%= f.text_field :expired_on, :placeholder => 'Days' , :required => true %></div>
				<div class="small-5 columns"><label for="" style="padding-top:5px">(Gym, Swim) <br><small>(from date of purchase)</small></label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[start_date]" class="inline right">Start date</label></div>
				<div class="small-8 columns"><%= f.date_field :start_date , :required => true %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[end_date]" class="inline right">End date</label></div>
				<div class="small-8 columns"><%= f.date_field :end_date , :required => true %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="services[days]" class="inline right">Days</label></div>
				<div class="small-8 columns"><%= f.number_field :days, :placeholder => 'Number of Days' , :required => true %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[seats]" class="inline right">Seats</label></div>
				<div class="small-8 columns"><%= f.number_field :seats , :required => true %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="" class="inline right">Instructors</label></div>
				<div class="small-8 columns"><%= collection_select :service, :instructor_ids, @instructors, :id, :name, {}, :multiple => true, :name => 'service[instructor_ids][]' %></div>
			</div>
		</div>

		<div class="large-12 columns">
			<div class="row">
				<div class="small-2 columns"><label for="service[service_desc]" class="inline">Service Description</label></div>
				<div class="small-10 columns"><%= text_area_tag 'service[service_desc]', @service.service_desc, :required => true %></div>
			</div>
		</div>
		<hr>
		<div class="large-12 columns">
			<div class="right">
				<a class="button small radius" href="<%= partners_center_services_path %>" style="margin-right:10px">Cancel</a>&nbsp;&nbsp;&nbsp;
				<%= submit_tag 'Add', :class => 'button small radius' %>
			</div>
		</div>
	</div>
<%end%>




<script>
$(document).ready(function() {
	$('#service_instructor_ids').chosen();
	if($('#service_service_type').val() == '2'){
		$('#service_name').prop('disabled',false);
		$('#service_validity').prop('disabled',true);
		$('#service_time_taken').prop('disabled',true);
		$('#service_original_price').prop('disabled',false);
		$('#serrvice_selling_price').prop('disabled',false);
		$('#service_gender_id').prop('disabled',false);
		$('#service_schedule').prop('disabled',false);
		$('#service_service_desc').prop('disabled',false);
		$('#service_expired_on').prop('disabled',true);
		$('#service_start_date').prop('disabled',false);
		$('#service_end_date').prop('disabled',false);
		$('#service_days').prop('disabled',false);
		$('#service_seats').prop('disabled',false);
		$('#ins1').prop('disabled',false);
		$('#ins2').prop('disabled',false);
	}




	if($('#service_service_type').val() != '2'){
		if($('#service_category_id').val() == '1' || $('#service_category_id').val() == '3' || $('#service_category_id').val() == '6' || $('#service_category_id').val() == '8'){
			$('#service_validity').prop('disabled', true);
			$('#service_time_taken').prop('disabled', true);
			$('#service_schedule').prop('disabled', false);
			$('#service_expired_on').prop('disabled', true);
			$('#service_start_date').prop('disabled', false);
			$('#service_end_date').prop('disabled', false);
			$('#service_days').prop('disabled', false);
			$('#service_seats').prop('disabled', false);
			$('#ins1').prop('disabled', false);
			$('#ins2').prop('disabled', false);
		};
		if($('#service_category_id').val() == '2' || $('#service_category_id').val() == '5'){
			$('#service_validity').prop('disabled', false);
			$('#service_time_taken').prop('disabled', true);
			$('#service_schedule').prop('disabled', false);
			$('#service_expired_on').prop('disabled', false);
			$('#service_start_date').prop('disabled', true);
			$('#service_end_date').prop('disabled', true);
			$('#service_days').prop('disabled', true);
			$('#service_seats').prop('disabled', true);
			$('#ins1').prop('disabled', true);
			$('#ins2').prop('disabled', true);
		};
		if($('#service_category_id').val() == '4' || $('#service_category_id').val() == '7'){
			$('#service_validity').prop('disabled', true);
			$('#service_time_taken').prop('disabled', false);
			$('#service_schedule').prop('disabled', true);
			$('#service_expired_on').prop('disabled', true);
			$('#service_start_date').prop('disabled', true);
			$('#service_end_date').prop('disabled', true);
			$('#service_days').prop('disabled', true);
			$('#service_seats').prop('disabled', true);
			$('#ins1').prop('disabled', true);
			$('#ins2').prop('disabled', true);
		};
	};




	/*sdf*/
    	
    $('#service_service_type').change(function(){
        	if($(this).val() == '2'){
        		$('#service_name').prop('disabled',false);
        		$('#service_validity').prop('disabled',true);
        		$('#service_time_taken').prop('disabled',true);
        		$('#service_original_price').prop('disabled',false);
        		$('#serrvice_selling_price').prop('disabled',false);
        		$('#service_gender_id').prop('disabled',false);
        		$('#service_schedule').prop('disabled',false);
        		$('#service_service_desc').prop('disabled',false);
        		$('#service_expired_on').prop('disabled',true);
        		$('#service_start_date').prop('disabled',false);
        		$('#service_end_date').prop('disabled',false);
        		$('#service_days').prop('disabled',false);
        		$('#service_seats').prop('disabled',false);
        		$('#ins1').prop('disabled',false);
        		$('#ins2').prop('disabled',false);
        	};
        	if($(this).val() == '1'){
        		if($('#service_category_id').val() == '1' || $('#service_category_id').val() == '3' || $('#service_category_id').val() == '6' || $('#service_category_id').val() == '8'){
        			$('#service_validity').prop('disabled', true);
        			$('#service_time_taken').prop('disabled', true);
        			$('#service_schedule').prop('disabled', false);
        			$('#service_expired_on').prop('disabled', true);
        			$('#service_start_date').prop('disabled', false);
        			$('#service_end_date').prop('disabled', false);
        			$('#service_days').prop('disabled', false);
        			$('#service_seats').prop('disabled', false);
        			$('#ins1').prop('disabled', false);
        			$('#ins2').prop('disabled', false);
        		};
        		if($('#service_category_id').val() == '2' || $('#service_category_id').val() == '5'){
        			$('#service_validity').prop('disabled', false);
        			$('#service_time_taken').prop('disabled', true);
        			$('#service_schedule').prop('disabled', false);
        			$('#service_expired_on').prop('disabled', false);
        			$('#service_start_date').prop('disabled', true);
        			$('#service_end_date').prop('disabled', true);
        			$('#service_days').prop('disabled', true);
        			$('#service_seats').prop('disabled', true);
        			$('#ins1').prop('disabled', true);
        			$('#ins2').prop('disabled', true);
        		};
        		if($('#service_category_id').val() == '4' || $('#service_category_id').val() == '7'){
        			$('#service_validity').prop('disabled', true);
        			$('#service_time_taken').prop('disabled', false);
        			$('#service_schedule').prop('disabled', true);
        			$('#service_expired_on').prop('disabled', true);
        			$('#service_start_date').prop('disabled', true);
        			$('#service_end_date').prop('disabled', true);
        			$('#service_days').prop('disabled', true);
        			$('#service_seats').prop('disabled', true);
        			$('#ins1').prop('disabled', true);
        			$('#ins2').prop('disabled', true);
        		};
        	};
        });
        $('#service_category_id').change(function(){
        	if($('#service_service_type').val() != '2'){
        		if($(this).val() == '1' || $(this).val() == '3' || $(this).val() == '6' || $(this).val() == '8'){
        			$('#service_validity').prop('disabled', true);
        			$('#service_time_taken').prop('disabled', true);
        			$('#service_schedule').prop('disabled', false);
        			$('#service_expired_on').prop('disabled', true);
        			$('#service_start_date').prop('disabled', false);
        			$('#service_end_date').prop('disabled', false);
        			$('#service_days').prop('disabled', false);
        			$('#service_seats').prop('disabled', false);
        			$('#ins1').prop('disabled', false);
        			$('#ins2').prop('disabled', false);
        		};
        		if($(this).val() == '2' || $(this).val() == '5'){
        			$('#service_validity').prop('disabled', false);
        			$('#service_time_taken').prop('disabled', true);
        			$('#service_schedule').prop('disabled', false);
        			$('#service_expired_on').prop('disabled', false);
        			$('#service_start_date').prop('disabled', true);
        			$('#service_end_date').prop('disabled', true);
        			$('#service_days').prop('disabled', true);
        			$('#service_seats').prop('disabled', true);
        			$('#ins1').prop('disabled', true);
        			$('#ins2').prop('disabled', true);
        		};
        		if($(this).val() == '4' || $(this).val() == '7'){
        			$('#service_validity').prop('disabled', true);
        			$('#service_time_taken').prop('disabled', false);
        			$('#service_schedule').prop('disabled', true);
        			$('#service_expired_on').prop('disabled', true);
        			$('#service_start_date').prop('disabled', true);
        			$('#service_end_date').prop('disabled', true);
        			$('#service_days').prop('disabled', true);
        			$('#service_seats').prop('disabled', true);
        			$('#ins1').prop('disabled', true);
        			$('#ins2').prop('disabled', true);
        		};
        	};
        });

    	

	$('.menu').dropit();
    $('#center-conf').css('display', 'block');
     $('#service_validity').autocomplete({
            source: ["1", "2", "5","10","30"],
            minLength: 0
        }).focus(function(){     
            //Use the below line instead of triggering keydown
            $(this).data("autocomplete").search($(this).val());
        });
})
</script>