<div class="row">
	<div class="col-xs-12">
		<h3>Classes</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-3">
		<div class="panel-stat3 bg-danger">
			<h2 class="m-top-none" id="userCount"><%= @total %></h2>
			<h5>Remaining Passes</h5>
			<div class="stat-icon">
				<i class="flaticon-identity6" style='font-size:86px'></i>
			</div>
			<div class="refresh-button">
				<i class="fa fa-refresh"></i>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div>
	</div>
  <div class="col-xs-6 col-sm-3">
		<div class="panel-stat3 bg-info">
			<h2 class="m-top-none" id="userCount"><%= @active %></h2>
			<h5>Active Passes</h5>
			<div class="stat-icon">
				<i class="flaticon-identity6" style='font-size:86px'></i>
			</div>
			<div class="refresh-button">
				<i class="fa fa-refresh"></i>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div>
	</div>

</div>




<div class="row" style="margin-bottom:300px">
	<div class="col-xs-12 col-sm-9">
		<% if params[:history].blank? %>
			<div class="panel panel-info">
				<div class="panel-heading">Reserved Classes</div>
				<table class="table table-bordered table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Center name</th>
							<th>Date</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<% unless @bookings.nil? %>
						<%@bookings.each do |pass| %>
							<tr>
								<td><a href=""><%= pass.fpclass.try(:name).try(:capitalize) %></a></td>
								<td><%= pass.fpclass.try(:centers).try(:first).try(:name) %></td>
								<td><%= local_time("#{pass.fpclass.try(:date)} #{pass.fpclass.start_time.strftime("%H:%M") unless pass.fpclass.nil?}", "%B %d - %H:%M") unless pass.fpclass.nil? %></td>
								<td><%= link_to reserf_path(pass.id), :method => :delete, :class => 'label label-danger', style: 'margin-left:20px', :data => { confirm: "Are you sure you want to cancel reservation"} do %>
										<i class='fa fa-trash-o'></i> Cancel <% end %>
								</td>
							</tr>
						<%end%>
					<% end %>
					</tbody>
				</table>
			</div>
		<% end %>

		<% unless params[:history].blank? %>	
			<div class="panel panel-danger">
				<div class="panel-heading">History</div>
				<table class="table table-bordered table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Center name</th>
							<th>Date</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
					<% unless @history.nil? %>
						<%@history.each do |pass| %>
							<tr>
								<td><a href=""><%= pass.fpclass.try(:name).try(:capitalize) %></a></td>
								<td><%= pass.fpclass.try(:centers).try(:first).try(:name) %></td>
								<td><%= local_time("#{pass.fpclass.try(:date)} #{pass.fpclass.start_time.strftime("%H:%M") unless pass.fpclass.nil?}", "%B %d - %H:%M") unless pass.fpclass.nil? %></td>
								<td><span class='label label-info'>Used</span></td>
							</tr>
						<%end%>
					<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
	</div>
</div>
