
<% if @passport.blank? %>
	<p class="text-center text-muted">You have no passport. Buy passport to reserve classes.</p>
	    <hr>
<% end %>

<div class="row">
	<% if @passport.blank? %>
		<div class="col-sm-6 col-sm-offset-3">
			<div class="row">
			    <div class="col-xs-6">
			      <div class="new_passport">
			        <h3>30 Days</h3>
					<span class='money'><span class='symbol'><i class='fa fa-inr'></i> </span>999/-</span>
					<br>
			        <p class="text-center pay_now"><a class="btn btn-default" href="/mypackage">Pay Now</a></p>
			      </div>
				</div>
				<div class="col-xs-6" style="margin-bottom:20px">
			        <h4>Features</h4>
			        <hr>
			        <div><i class="fa fa-check text-success"></i>10 Classes</div>
			        <div><i class="fa fa-check text-success"></i>Top Rated Studios & Trainers</div>
			        <div><i class="fa fa-check text-success"></i>No Upfront or Hidden Fees</div>
			        <div><i class="fa fa-check text-success"></i>Cancel Any Time</div>
			        <div><i class="fa fa-check text-success"></i>Guaranteed Satifaction</div>
			    </div>
			    <div class="col-xs-6" id="coupon-container"></div>
			  </div>
		</div>
	<% end %>
	<% unless @passport.blank? %>
	<div class="col-sm-6 col-sm-offset-3">
		<h4>Booked Passports</h4>
		<table class="table">
	        <thead>
	          <tr><th>Date</th>
	          <th>Amount</th>
	          <th>Expired on</th>
	          <th class="text-center">Receipt</th>
	        </tr></thead>
	        <tbody>
		            <tr>
		              <td><%= local_time(@passport.start_date, "%B %d") %></td>
		              <td><%= @passport.order_item.unit_price %></td>
		              <td><%= @passport.end_date %></td>
		              <td class="text-center"><a href="/invoice.pdf"><i class="fa fa-file-pdf-o" style='color:rgb(171, 136, 17)'></i></a></td>
		            </tr>
	        </tbody>
	    </table>
	</div>
	<% end %>

	<% unless @orders.blank? %>
		<div class="col-sm-6 col-sm-offset-3">
			<h4>Booked Services</h4>
			<table class="table">
		        <thead>
		          <tr><th>Service</th>
		          <th>Amount</th>
		          <th>Date</th>
		          <th class="text-center">Receipt</th>
		        </tr></thead>
		        <tbody>
		        	<% @orders.each do |order| %>
		        		<% service = order.service_order_item.service %>
			            <tr>
			              <td><%= "#{service.center.name} - #{service.name} " %></td>
			              <td><%= order.service_order_item.unit_price %></td>
			              <td><%= order.updated_at.strftime('%d %m %Y') %></td>
			              <td class="text-center"><a href="<%= service_invoice_path(order_id: order.number, format: :pdf) %>"><i class="fa fa-file-pdf-o" style='color:rgb(171, 136, 17)'></i></a></td>
			            </tr>
			        <% end %>
		        </tbody>
		    </table>
		</div>
	<% end %>

	<% unless @deal_orders.blank? %>
		<div class="col-sm-6 col-sm-offset-3">
			<h4>Booked Deals</h4>
			<table class="table">
		        <thead>
		          <tr><th>Deal</th>
		          <th>Amount</th>
		          <th>Date</th>
		          <th class="text-center">Receipt</th>
		        </tr></thead>
		        <tbody>
		        	<% @deal_orders.each do |order| %>
		        		<% deal = order.deal_order_item.deal %>
			            <tr>
			              <td><%= deal.name.capitalize %></td>
			              <td><%= order.total_amount %></td>
			              <td><%= order.updated_at.strftime('%d %m %Y') %></td>
			              <td class="text-center"><a href="<%= deal_invoice_path(order_id: order.number, format: :pdf) %>"><i class="fa fa-file-pdf-o" style='color:rgb(171, 136, 17)'></i></a></td>
			            </tr>
			        <% end %>
		        </tbody>
		    </table>
		</div>
	<% end %>
</div>