<%= form_tag admins_approvals_path do %>

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Approvals (<%= @centers.count %>)</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th></th>
                        <th><input type="text" class="form-control" placeholder="Brand Name"></th>
                        <th><input type="text" class="form-control" placeholder="Center Name"></th>
                        <th><input type="text" class="form-control" placeholder="Area Name"></th>
                        <th><input type="text" class="form-control" placeholder="City"></th>
                    </tr>
                </thead>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Brand Name</th>
                        <th>Center Name</th>
                        <th>Category</th>
                        <th>City</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                <%@centers.each do |center| %>
                    <tr>
                        <td><%= check_box_tag "t1[#{center.id}]" %></td>
                        <td></td>
                        <td><%= center.name %></td>
                        <td></td>
                        <td><%= center.try(:city).try(:name) %></td>
                        <td><span class="label label-default <%= "label-success" if center.status == 'active' %>"><%= center.status %></span></td>
                    </tr>
                   <%end%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-8 text-right">
            <input type="submit" name="approve" value="Approve" class="btn btn-primary">
            <input type="submit" name="reject" value="Reject" class="btn btn-primary">
        </div>
    </div>

</div>
<%end%>

