<%= form_tag admins_partners_path do %>

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Partners</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th></th>
                        <th><input type="text" class="form-control" placeholder="Brand Name"></th>
                        <th><input type="text" class="form-control" placeholder="Center Name"></th>
                        <th><input type="text" class="form-control" placeholder="Area Name"></th>
                        <th><input type="text" class="form-control" placeholder="City"></th>
                    </tr>
                </thead>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Brand Name</th>
                        <th>Center Name</th>
                        <th>City</th>
                        <th>Center approval Status</th>
                        <th>FP Verified</th>
                        <th>Commission</th>
                        <th>Total Business</th>
                        <th>Total Service sold</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                <%@centers.each do |centerinfo| %>
                    <tr>
                        <td><%= check_box_tag "t1[#{centerinfo.id}]" %></td>
                        <td></td>
                        <td><%= centerinfo.center.name %></td>
                        <td><%= centerinfo.center.try(:city).try(:name) %></td>
                        <td></td>
                        <td><span class="label label-default <%= "label-success" if centerinfo.fp_verified? %>"><%= centerinfo.fp_verified? %></span></td>
                        <td>5%</td>
                        <td><%= rand(1..12000) %></td>
                        <td>40</td>
                        <td><%= centerinfo.updated_at %></td>
                    </tr>
                   <%end%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <input type="submit" name="fp" value="FP Verify" class="btn btn-primary">
        </div>
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-7 pull-right">
            <input type="submit" name="approve" value="Approve" class="btn btn-primary">
            <input type="submit" name="commission" value="Commission" class="btn btn-primary">
            <input type="submit" name="message" value="Message" class="btn btn-primary">
            <input type="submit" name="sms" value="SMS" class="btn btn-primary"> 
        </div>
    </div>
</div>
<%end%>