<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div style="min-height:420px">
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="150">Order Id</th>
          <th style="">Date</th>
          <th>Customer name</th>
          <th>Price</th>
          <th width="150">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%unless @bookings.blank? %>
      <% @bookings.each do |booking| %>
        <tr>
          <td><a href=""><%= booking.order_id %></a></td>
          <td><%= booking.created_at.strftime('%d - %m - %y') %></td>
          <td><a href=""><%= booking.customer.user.first_name %></a></td>
          <td>INR <%= booking.price %></td>
          <td><a href=""><%= booking.try(:status) %></a></td>
        </tr>
      <% end %>
      <%end %>
      </tbody>
      </table>
      </div>
    </div>
  </div>
</div>