<%
meta title: "Popular | FitnessPapa.com",
     description: "",
     keywords: %w(services popular gym swimming)
%>



<!-- header -->
<header class="<%= params[:category_id] %>">
 <%= render :partial => 'layouts/header' %>
	
	<div class="header">
	<div class="find-serv">
		<h1>Find services</h1>
		<div class="search-sec">
			<div class="search-sec-main">
			<%=search_form_for @c, :url => filters_list_path, :class => 'services', :html => {:onSubmit => 'return search_validator();'} do |f| %>
					<%= f.collection_select :centerinfo_categories_id_in, Category.order(:name), :id, :name %>
				    <input id='cities' type="text" name="q[city_name_cont]" placeholder="Type City Name Here">
					<input type="submit" value="Search Now">
				<%end%>
			</div>
		</div>
	</div>
</div><!-- end header -->
</header><!-- end header -->
<!-- end header -->
	
	<!-- content -->
	<div class="container">
		<div class="container-main">
			<div class="sqr-box-title">
			<h2>Popular In <%= params[:category_id].capitalize if params[:category_id] != 'spa' %> <%= "Spa & Saloon"  if params[:category_id] == 'spa' %></h2>
			</div>
			<div class="sqr-boxs-cat">
			<%unless @centers.nil?  %>
			<%@centers.each do |center| %>	
				<div class="profile-box">
					<div class="profile-pic">
						<%= image_tag attachment_url(center.centerinfo, :image), :style => 'width:133px;height:110px' %>
					</div>
					<div class="profile-info">
						<div class="profile-title">
						  <h4><%= center.name %></h4>
						  <span><%= center.accountinfo.address_1 %>, <%= center.try(:city).try(:name) %></span>
						</div>
						<div class="profile-rate">
						  <img src="/assets/star.jpg" alt=""><a href="#">2 Reviews</a>
						</div>
						<button type="button"><a href="<%= center_category_services_path(center.friendly_id, params[:category_id]) %>" style="color:white;text-decoration:none">view</a></button>
					</div>
					<div class="profile-detail">
					  <p><%= center.centerinfo.brief_desc.truncate(120) %></p>
					</div>
				</div>
			<%end  %>
			<%end %>
			</div>
			
		</div>
		
	</div>
	<!-- end content -->
	
	
	<!-- content -->
	<div class="container">
		<div class="container-main box-border">
			<p>All major Credit & Debit Cards Accepted. 100% secure payments</p>
			uby/gems/2.2.0/gems/sinatra-1.4.5/lib/sinatra/base.rb:966:in `block (3 levels) in route!'
Refile::App: /home/sid/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/sinatra-1.4.5/lib/sinatra/base.rb:985:in `route_eval'
<img src="/assets/payment-gateway-320.jpg" class="for-mobile" alt=""/>
			<img src="/assets/payment-gateway.jpg" class="for-desktop" alt=""/>
			<div class="verified">
			<div class="verified-main">
			 <img src="/assets/verifyed.jpg" alt=""/><p>The site is certified by verisign as a secure & trusted site</p>
			</div>
			</div>
		</div>
	</div>
	
			
<%= render :partial => 'layouts/footer' %>

<script>
$(function() {
	var availableTags = <%= raw @city_names %>;
	$("#cities").autocomplete({
	  source: availableTags
	});
});
function search_validator(){
	if(document.getElementById('cities').value == ""){  
      alert("Please select city");  
	  return false;  
    }else{  
      return true;  
    }  
}ssddssssxxx
</script>

