<%= form_for @service, url: getpath, method: getmethod do |f| %>
	<div class="row">
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[type]" class="inline">Type -</label></div>
<!-- 				<div class="small-8 columns"><%= f.select :type, options_for_select(Service::TYPE) %></div>
			 -->			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[category_id]" class="inline">Service Category - </label></div>
				<div class="small-8 columns"><%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name') %></div>
			</div>
		</div>
		<div class="large-12 columns">
			<div class="row">
				<div class="small-2 columns"><label for="service[name]" class="inline">Service Name</label></div>
				<div class="small-10 columns"><%= f.text_field :name %></div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[validity]" class="inline">Validity</label></div>
				<div class="small-2 columns"><%= f.text_field :validity, :placeholder => 'Days' %></div>
				<div class="small-6 columns"><label for="" class="inline">(Gym, Swimming)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[time_taken]" class="inline">Time Taken</label></div>
				<div class="small-2 columns"><%= f.text_field :time_taken, placeholder: 'Min' %></div>
				<div class="small-6 columns"><label for="" class="inline">(Spa, Saloon & Consultant)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[original_price]" class="inline">Original Price</label></div>
				<div class="small-4 columns"><%= f.text_field :original_price, :placeholder => 'Rupees' %></div>
				<div class="small-4 columns"><label for="" class="inline">(with Service Tax)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[selling_price]" class="inline">Selling Price</label></div>
				<div class="small-4 columns"><%= f.text_field :selling_price, :placeholder => 'Rupees' %></div>
				<div class="small-4 columns"><label for="" class="inline">(with Service Tax)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[gender_id]" class="inline">Gender</label></div>
				<div class="small-8 columns"><%= f.select :gender_id, options_from_collection_for_select(Centertype.all, 'id', 'name') %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[schedule]" class="inline">Schedule</label></div>
				<div class="small-8 columns"><%= f.text_field :schedule %></div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<div class="small-4 columns"><label for="service[expired_on]" class="inline right">Expired on</label></div>
				<div class="small-3 columns"><%= f.text_field :expired_on, :placeholder => 'Days' %></div>
				<div class="small-5 columns"><label for="" style="padding-top:5px">(Gym, Swim)</label></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[start_date]" class="inline right">Start date</label></div>
				<div class="small-8 columns"><%= f.date_field :start_date %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[end_date]" class="inline right">End date</label></div>
				<div class="small-8 columns"><%= f.date_field :end_date %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="services[days]" class="inline right">Days</label></div>
				<div class="small-8 columns"><%= f.text_field :days, :placeholder => 'Number of Days' %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="service[seats]" class="inline right">Seats</label></div>
				<div class="small-8 columns"><%= f.text_field :seats %></div>
			</div>
			<div class="row">
				<div class="small-4 columns"><label for="" class="inline right">Instructor 1</label></div>
				<div class="small-8 columns"><%= text_field_tag :ins1 %></div>
			</div>	
			<div class="row">
				<div class="small-4 columns"><label for="" class="inline right">Instructor 2</label></div>
				<div class="small-8 columns"><%= text_field_tag :ins2 %></div>
			</div>
		</div>

		<div class="large-12 columns">
			<div class="row">
				<div class="small-2 columns"><label for="service[service_desc]" class="inline">Service Description</label></div>
				<div class="small-10 columns"><%= text_area_tag 'service[service_desc]' %></div>
			</div>
		</div>
		<hr>
		<div class="large-12 columns">
			<div class="right">
				<button class="button small radius" style="margin-right:10px">Cancel</button>&nbsp;&nbsp;&nbsp;
				<%= submit_tag 'Add', :class => 'button small radius' %>
			</div>
		</div>
	</div>
<%end  %>




