<%= render :partial => 'partners/centers/nav' %>


<div class="row">
	<div class="small-4 columns"><a href="<%=new_partners_center_service_path %>" class="button tiny">Add Services</a></div>
	<div class="small-4 columns"><a href="<%= partners_center_services_path %>" class="button tiny">View Regular Services</a></div>
	<div class="small-4 columns"><a href="<%= upcoming_partners_center_services_path %>" class="button tiny">View Upcoming Events</a></div>
</div>
<div style="min-height:350px">
<%unless @ymka.blank?  %>
<div class="row">
	<div class="small-12 columns sqr-box-title"><h2 style="font-size:24px">Yoga, Meditation, Adventure and Kids zone</h2></div>
</div>
<div class="row">
	<div class="small-12 columns">
		<table role='grid'>
		  <thead>
		    <tr>
		      <th>Type</th>
		      <th>Category</th>
		      <th>Service Name</th>
		      <th>Start day</th>
		      <th>Days</th>
		      <th>Details</th>
		      <th>Instructors</th>
		      <th>Seats</th>
		      <th>Price</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
			<%@ymka.each do |p| %> 
			    <tr>
			      <td>Regular Service</td>
			      <td><%= p.category.name %></td>
			      <td><%= p.name %></td>
			      <td><%= p.start_date_format %></td>
			      <td><%= p.days %></td>
			      <td><%= p.service_desc %></td>
			      <td><%= "Need to change" %></td>
			      <td><%= p.seats %></td>
			      <td><%= p.selling_price %></td>
			      <td><a href="<%= partners_center_service_path(params['center_id'], p.id) %>">Edit</a></td>
			    </tr>
		    <%end  %>
		  </tbody>
		</table>
	</div>
</div>
<%end%>
<%unless @gs.blank? %>
<div class="row">
	<div class="small-12 columns sqr-box-title"><h2 style="font-size:24px">Gym, Swimming</h2></div>
</div>
	<div class="row">
		<div class="small-12 columns">
			<table role='grid'>
			  <thead>
			    <tr>
			      <th>Type</th>
			      <th>Category</th>
			      <th>Service Name</th>
			      <th>Validity</th>
			      <th>Expire Limit</th>
			      <th>Price</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <%@gs.each do |c| %>
				    <tr>
				      <td>Regular Service</td>
				      <td><%= c.category.name %></td>
				      <td><%= c.name %></td>
				      <td><%= c.validity %></td>
				      <td><%= c.expired_on %></td>
				      <td><%= c.selling_price %></td>
				      <td><a href=" <%= partners_center_service_path(params['center_id'], c.id)  %>">Edit</a></td>
				    </tr>
			    <%end %>
			  </tbody>
			</table>
		</div>
	</div>
<%end  %>

<%unless @ssc.blank?  %>
<div class="row">
	<div class="small-12 columns sqr-box-title"><h2 style="font-size:24px">Spa & Saloon, Consultant</h2></div>
</div>
	<div class="row">
		<div class="small-12 columns">
			<table role='grid'>
			  <thead>
			    <tr>
			      <th>Type</th>
			      <th>Category</th>
			      <th>Service Name</th>
			      <th>Time Taken</th>
			      <th>Price</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <%@ssc.each do |c| %>
				    <tr>
				      <td>Regular Service</td>
				      <td><%= c.category.name %></td>
				      <td><%= c.name %></td>
				      <td><%= c.time_taken %> Minutes</td>
				      <td><%= c.selling_price %></td>
					  <td><a href=" <%= partners_center_service_path(params['center_id'], c.id)  %> ">Edit</a></td>
				    </tr>
			    <%end  %>
			  </tbody>
			</table>
		</div>
	</div>
<%end  %>

</div>
<script>
	 $(document).ready(function() {
    $('.menu').dropit();
    $('#center-conf').css('display', 'block');
});
</script>