<table class="table marginner">
	<tr>
		<td>Sun</td>
		<td><%= @hours.sun_from %> </td>
		<td><%= @hours.sun_to %></td>
	</tr>
	<tr>
		<td>Mon</td>
		<td><%= @hours.mon_from %></td>
		<td><%= @hours.mon_to %></td>
	</tr>
	<tr>
		<td>Tue</td>
		<td> <%= @hours.tue_from %></td>
		<td> <%= @hours.tue_to %></td>
	</tr>
	<tr>
		<td>Wed</td>
		<td> <%= @hours.wed_from %></td>
		<td> <%= @hours.wed_to %></td>
	</tr>
	<tr>
		<td>Thu</td>
		<td> <%= @hours.thu_from %></td>
		<td> <%= @hours.thu_to %></td>
	</tr>
	<tr>
		<td>Fri</td>
		<td> <%= @hours.fri_from %></td>
		<td> <%= @hours.fri_to %></td>
	</tr>
	<tr>
		<td>Sat</td>
		<td> <%= @hours.sat_from %></td>
		<td> <%= @hours.sat_to %></td>
	</tr>
</table>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
	 	$(document).ready(function(){
	 		$('#pjax-tabs').children('li').each(function(){
	 			$(this).removeClass('active');
	 		})
	 		
	 	})
 </script>