<div class="table-box">
	<div class="table-title"><h2>Services</h2></div>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Start Date</th>
			<th>Days</th>
			<th>Schedule</th>
			<th>Seats</th>
			<th>Price</th>
			<th></th>
		</tr>
		</thead>
		
		<tbody>
		  <%@center.services.regular.each do |service|  %>
		  <tr>
			<td class="dp"><p><%= service.name %></p></td>
			<td class="dp"><p><%= service.start_date %></p></td>
			<td class="dp"><%= service.days %></td>
			<td class="dp"><p><%= service.schedule %></p></td>
			<td><%= service.seats %></td>
			<td class="dp"><p><%= service.selling_price %><br><span style='text-decoration: line-through;'><%= service.original_price %></span><br><span><%= service.percent %>%</span></p></td>
			<td><a href="" class="">Book Now</a></td>
		  </tr>
		  <%end%>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
 </script>