<div class="table-box marginner">
 		<table class="table">
 			<thead>
 			<tr>
 				<th>Name</th>
 				<th>Start Date</th>
 				<th>Days</th>
 				<th>Schedule</th>
 				<th>Instructor</th>
 				<th>Seats</th>
 				<th colspan="2">Price</th>
 			</tr>
 			</thead>
 			
 			<tbody>
 			<% @upcoming.each do |uc|  %>
 			  <tr>
 				<td class="dp"><p><%= uc.name %></p></td>
 				<td class="dp"><p><%= uc.start_date.strftime('%d %b %Y') unless uc.start_date.nil? %></p></td>
				<td><p><%= uc.days %></p></td>
 				<td class="dp"><p><%= uc.schedule %></p></td>
 				<td class="dp"><p><%=  %></p></td>
 				<td class="dp"><%= uc.seats %></td>
 				<td class="dp"><p><span>&#96;</span><%= uc.selling_price %><br><span style='text-decoration: line-through;'><%= uc.original_price %></p></td>
 				<td class="dp"><div class="button-org"><a href="<%= book_now_path(:id => uc.friendly_id) %>">Book Now</a></div></td>
 			  </tr>
 			<%end%>
 			</tbody>
 		</table>
 	</div>


 	<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
 </script>