<%= form_tag Figaro.env.payu_url, :id => 'myform', :style => 'visibility:hidden' do  %>
  <div class="field">
    <%= label_tag :key %><br>
    <%= text_field_tag :key, Figaro.env.payu_key %>
  </div>
  <div class="field">
    <%= label_tag :txnid %><br>
    <%= text_field_tag :txnid, @payu.txnid %>
  </div>
  <div class="field">
    <%= label_tag :amount %><br>
    <%= number_field_tag :amount, @payu.amount %>
  </div>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, @payu.email %>
  </div>
  <div class="field">
    <%= label_tag :phone %><br>
    <%= text_field_tag :phone, @payu.phone %>
  </div>
  <div class="field">
    <%= label_tag :productinfo %><br>
    <%= text_field_tag :productinfo, @payu.productinfo %>
  </div>
  <div class="field">
    <%= label_tag :firstname %><br>
    <%= text_field_tag :firstname, @payu.firstname %>
  </div>
  <div class="field">
    <%= label_tag :surl %><br>
    <%= text_field_tag :surl, @payu.surl %>
  </div>
  <div class="field">
    <%= label_tag :furl %><br>
    <%= text_field_tag :furl, @payu.furl %>
  </div>
  <div class="field">
    <%= label_tag :hash %><br>
    <%= text_field_tag :hash, @payu.hash %>
  </div>
  <div class="field">
    <%= label_tag :service_provider %><br>
    <%= text_field_tag :service_provider, 'payu_paisa' %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>


<script>
 $(document).on("page:change", function(){
  document.forms['myform'].submit();
 });
</script>
