<div id="myElement">Loading the player...</div>

<%= content_for :rtmp do %>
	<script type="text/javascript">
	  /*  jwplayer("myElement").setup({
	        file: <%= sanitize(@video_path.inspect) %>,
	        image: "/uploads/myPoster.jpg"
	    });*/
		jwplayer('myElement').setup({
			primary: "html5",
			sources: [ 
				{file: <%= sanitize(@flash_path.inspect) %>},
				{file: <%= sanitize(@video_path.inspect) %>}
			],
			
			flashplayer: <%= sanitize(asset_path('jwplayer/jwplayer.flash.swf').inspect) %>,
			});
	</script>
<% end %>
