<%= form_for @account, url: getpath, method: getmethod do |f| %>
	<div class="row">
	<fieldset>
	<legend>Account Details</legend>
	<div class="large-6 columns">
	<div class='row'>
		<div class="small-12 columns">
	      <div class="row">
	        <div class="small-4 columns">
	          <label for='account[brand]', class="inline">Brand Name</label>
	        </div>
	        <div class="small-8 columns">
			  <%= f.text_field :brandname, :class => 'input-small' ,:required => true%>
	        </div>
	      </div>
	    </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[centername]' class="inline">Center Name</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :centername  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[personname]' class="inline">Person Name</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :personname  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[email]' class="inline">Email Name</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :email  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[mobile]' class="inline">Mobile No</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :mobile  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[landline]' class="inline">Landline No</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :landline ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[address_1]' class="inline">Address</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :address_1, :placeholder => 'Address Line 1'  ,:required => true%> 
				<%= f.text_field :address_2, :placeholder => 'Address Line 2'  ,:required => true%> 
				<%= f.text_field :landmark, :placeholder => 'Landmark'  ,:required => true%>
				<%= f.text_field :area, :placeholder => 'Area name'  ,:required => true%>
				<div class="row">
					<div class="small-6 columns"><%= text_field_tag 'accountinfo[city]', @account.try(:center).try(:city).try(:name), :placeholder => 'City'  ,:required => true%></div>
					<div class="small-6 columns"><%= f.text_field :pin, :placeholder => '560012'   ,:required => true%></div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="large-6 columns">
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[pan]' class="inline">PAN</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :pan  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[tan]' class="inline">TAN</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :tan  ,:required => true%>		
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[tin]' class="inline">TIN</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :tin  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[taxregno]' class="inline">Service Tax Reg No</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :taxregno  ,:required => true%>
				</div>
			</div>
		</div>
	</div>

<div class="row">
	<fieldset>
		<legend>Bank Details</legend>
			<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[acno]' class="inline">Bank A/C Number</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :acno ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[bank_name]' class="inline">Bank Name</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :bank_name  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[ifsc_code]' class="inline">IFSC code of Branch</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :ifsc_code  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[bank_city]' class="inline">City</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_field :bank_city  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<div class="row">
				<div class="small-4 columns">
					<label for='account[bank_address]' class="inline">Branch Address</label>
				</div>
				<div class="small-8 columns">
				<%= f.text_area :bank_address  ,:required => true%>
				</div>
			</div>
		</div>
	</div>
	</fieldset>
</div>
</div>

<hr>
<div class="row">
	<div class="right">
	<%= submit_tag act, :class => 'button small radius'%>&nbsp;&nbsp;&nbsp;
	<a href="<%=partners_center_details_path%>" class='button small radius'>Continue</a>
	</div>	
	<div class="left"><a href="#">Configuration Help</a></div>
</div>
</fieldset>
</div>
<% end %>

<script>
$(document).ready(function() {
  $('.menu').dropit();
  $('#center-conf').css('display', 'block');
  window.availableTags = <%= raw @cities %>;
  $("#accountinfo_city").autocomplete({
    source: availableTags
  });
});
</script>