<%= render :partial => 'admins/customers/nav' %>

<%= form_tag admins_customers_path do %>

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Customers</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th></th>
                        <th><input type="text" class="form-control" placeholder="Name"></th>
                        <th><input type="text" class="form-control" placeholder="Email Id"></th>
                        <th><input type="text" class="form-control" placeholder="Customer Id"></th>
                    </tr>
                </thead>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Total service purchase</th>
                        <th>Total Purchase</th>
                        <th>Last date Booking</th>
                        <th>Customer Id</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                <%@customers.each do |customer| %>
                    <tr>
                        <td><%= check_box_tag "t1[#{customer.id}]" %></td>
                        <td><%=link_to customer.user.first_name, admins_customer_path(customer.id) %></td>
                        <td style="padding-left:30px"><%= customer.bookings.purchased.count %></td>
                        <th><%= customer.bookings.purchased.inject(0) {|sum,k| sum += k.price.to_f; sum } %></th>
                        <td><%= Time.now + rand(1..10).days %></td>
                        <td><a href="<%= admins_customer_path(customer.id) %>"><%= customer.customer_id %> </a></td>
                        <td><a href="#" class="btn disabled">Edit</a>&nbsp;<%= link_to 'Remove', admins_customer_path(customer.id), method: :delete, data: { comfirm: 'Are you sure?', disable_with: 'Removing...'} %></td>
                    </tr>
                   <%end%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <a href="" class="btn btn-primary">History</a>
        </div>
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-7 pull-right">
            <a href="" class="btn btn-primary">Add Coupon</a>
            <a href="" class="btn btn-primary">Redeem Pass</a>
            <a href="" class="two-popup-trigger btn btn-primary">Message</a>
            <a href="" class="three-popup-trigger btn btn-primary">SMS</a>
        </div>
    </div>
</div>

<div class="two-popup" role="alert">
    <div class="cd-popup-container">
        <div class="container">
            <div class="row">
                <div class="small-12 column" style="margin-top:35px">
                    <fieldset>
                    <legend>Message</legend>
                        <span class='help-block'>Email will send automatically to selected customers registered email id's</span>
                        <div class="col-xs-12" style="margin-bottom:10px">
                            <textarea name="email_message" class="form-control" placeholder='Share your message here'></textarea>
                        </div>
                        <div class="col-xs-12">
                            <input type="submit" name="send_email" class="btn btn-primary small form-control">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="margin-35"></div>
        </div>
        <!-- <ul class="cd-buttons">
            <li><a href="#0">submit</a></li>
            <li><a href="#0">No</a></li>
        </ul> -->
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div> <!-- cd-popup-container -->
</div>

<div class="three-popup" role="alert">
    <div class="cd-popup-container">
        <div class="container">
            <div class="row">
                <div class="small-12 column" style="margin-top:35px">
                    <fieldset>
                        <legend>SMS</legend>
                        <div style="margin-bottom:10px">Sms will send automatically to selected customers mobile numbers</div>
                        <div class="col-xs-12" style="margin-bottom:10px">
                            <textarea name="sms_message" class="form-control" placeholder='Share your message here'></textarea>
                        </div>
                        <div class="col-xs-12">
                            <input type="submit" name="send_sms" class="btn btn-primary small form-control">
                        </div>
                    </fieldset>    
                </div>
            </div>
            <div class="margin-35"></div>
        </div>
        <!-- <ul class="cd-buttons">
            <li><a href="#0">submit</a></li>
            <li><a href="#0">No</a></li>
        </ul> -->
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div> <!-- cd-popup-container -->
</div>

<% end %>