<div class="container">
	<div class="row">
	<div class="small-3 columns">
		<p><%= image_tag attachment_url(@data, :image), :class => 'th', :style => 'margin-bottom:8px;width:100px;height:100px' %></p>
		<p><%= @data.first_name.capitalize %> <%= @data.last_name.capitalize %></p>
	</div>
	<div class="small-8 columns">
		<p>Mobile no :: <%= @data.phone %></p>
		<p>Email :: <%= @customer.email %></p>
		<p>Emergency :: <%= @data.emergency_phone %></p>

	</div>
	<div class="small-1 columns">
		<a href="<%= admins_customers_path %>">Back</a>
	</div>
</div>
</div>
