<ul class="menu embed-nav" id="center-conf">
<%unless params[:controller] == 'partners/centers' %>
	<%unless params[:controller].include? 'dashboard' %>
		<%= nav_link 'Account Details', partners_center_accounts_path %>
		<%= nav_link 'Center Setup', partners_center_details_path %>
		<%= nav_link 'Services', partners_center_services_path %>
		<%= nav_link 'Instructors', partners_center_instructors_path %>
		<%= nav_link 'Pass', '#' %>
		<%= nav_link 'Coupons', '#' %>
		<%= nav_link 'Center Manager', partners_center_centermanagers_path %>
	<%end%>
<%end%>
</ul>
<div class="right"><span class='warning label button'><%= center.name.capitalize %></span></div>
<div class="clear"></div>
<br><br>
