<%= form_tag centers_details_create_path do %>
	<div class="row">
		<fieldset>
			<legend>Account Details</legend>
			<div class="large-6 columns">
			<div class='row'>
				<div class="small-12 columns">
			      <div class="row">
			        <div class="small-4 columns">
			          <label for="user[brand]" class="inline">Brand Name</label>
			        </div>
			        <div class="small-8 columns">
					  <%= text_field_tag "user[brand]", '', :class => 'input-small' %>
			        </div>
			      </div>
			    </div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[centername]' class="inline">Center Name</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[centername]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[personname]' class="inline">Person Name</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[personname]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[email]' class="inline">Email Name</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[email]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[mobile]' class="inline">Mobile No</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[mobile]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[landline]' class="inline">Landline No</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[landline]"%>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[address_1]' class="inline">Address</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[address_1]", '', :placeholder => 'Address Line 1' %> 
						<%= text_field_tag "user[address_2]", '', :placeholder => 'Address Line 2' %> 
						<%= text_field_tag "user[landmark]", '', :placeholder => 'Landmark' %>
						<div class="row">
							<div class="small-6 columns"><%= text_field_tag "user[city]", '', :placeholder => 'City' %></div>
							<div class="small-6 columns"><%= text_field_tag "user[pin]",'', :placeholder => '560012'  %></div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[pan]' class="inline">PAN</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[ pan]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[tan]' class="inline">TAN</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[ tan]" %>		
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[tin]' class="inline">TIN</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[tin]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[taxregno]' class="inline">Service Tax Reg No</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[taxregno]" %>
						</div>
					</div>
				</div>
			</div>

		<div class="row">
			<fieldset>
				<legend>Bank Details</legend>
					<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[acno]' class="inline">Bank A/C Number</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[acno]"%>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[bank_name]' class="inline">Bank Name</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[bank_name]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[ifsc_code]' class="inline">IFSC code of Branch</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag "user[ifsc_code]" %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[bank_city]' class="inline">City</label>
						</div>
						<div class="small-8 columns">
						<%= text_field_tag 'user[bank_city]' %>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class="row">
						<div class="small-4 columns">
							<label for='user[bank_address]' class="inline">Branch Address</label>
						</div>
						<div class="small-8 columns">
						<%= text_area_tag "user[bank_address]" %>
						</div>
					</div>
				</div>
			</div>
			</fieldset>
		</div>
		</div>
		<hr>
		<div class="row">
			<div class="right">
			<%= submit_tag 'Save', :class => 'button small radius'%>&nbsp;&nbsp;&nbsp;
			<button class="button small radius">Continue</button>
			</div>	
		</div>
	</fieldset>
	
	</div>
<% end  %>

