<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Centers</h3>
        <span></span>
    </div><!-- /page-title -->
    
    <ul class="page-stats">
      <%= link_to "New Center", new_partners_center_path, :class => 'btn btn-primary' %>
        
    </ul><!-- /page-stats -->
</div>


<div class="padding-md">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="pull-left">
                Active Centers <span class="text-success m-left-xs"><i class="fa fa-check"></i></span>
            </span>
            <ul class="tool-bar">
                <li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a></li>
                <li><a href="#toDoListWidget" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
            </ul>
        </div>
        <div class="panel-body no-padding collapse in" id="toDoListWidget">
            <ul class="list-group task-list no-margin collapse in">
                <% @centers.each do |center| %>
                    <li class="list-group-item clearfix">
                        <span class="pull-right">
                            <a href="<%= partners_center_path(center.friendly_id) %>"><i class="fa fa-eye fa-lg text-success"></i></a>&nbsp;
                            <a href="<%= edit_partners_center_path(center.friendly_id) %>"><i class="fa fa-edit fa-lg text-info"></i></a>&nbsp;
                            <!-- <a href="#" class="task-del"><i class="fa fa-trash-o fa-lg text-danger"></i></a>&nbsp;
                             -->
                        </span>
                        <span><a href="<%= partners_center_path(center.friendly_id) %>"><%= center.name %></a></span><br> <small class="text-muted"><%= center.place_name %></small>
                    </li>
                <%end%>
                
            </ul><!-- /list-group -->
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="pull-left">
                Pending Centers <span class="text-danger m-left-xs"><i class="fa fa-exclamation"></i></span>
            </span>
            <ul class="tool-bar">
                
            </ul>
        </div>
        <div class="panel-body no-padding collapse in" id="toDoListWidget">
            <ul class="list-group task-list no-margin collapse in">
               <% @pending_centers.each do |center| %>
                   <li class="list-group-item clearfix">
                       <span class="pull-right">
                           <a href="<%= partners_center_path(center.friendly_id) %>"><i class="fa fa-eye fa-lg text-success"></i></a>&nbsp;
                           <a href="<%= edit_partners_center_path(center.friendly_id) %>"><i class="fa fa-edit fa-lg text-info"></i></a>&nbsp;
                           <!-- <a href="#" class="task-del"><i class="fa fa-trash-o fa-lg text-danger"></i></a>&nbsp;
                            -->
                       </span>
                       <span><a href="<%= partners_center_path(center.friendly_id) %>"><%= center.name %></a></span><br> <small class="text-muted"><%= center.place_name %></small>
                   </li>
               <%end%>
            </ul><!-- /list-group -->
        </div>
        <div class="loading-overlay">
            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
        </div>
    </div>
</div>