<fieldset>
	<legend>Add Instructor</legend>
</fieldset>
<%= form_tag centers_create_instructor_path do %>

<%end  %>



v<p>Name :: <%= text_field_tag 'instructor[name]' %></p>
<p>Category :: <%= text_field_tag 'instructor[cat]' %></p>
<p>Photo :: <%= file_field_tag 'instructor[photo]' %></p>
<p>Gender :: <%= text_field_tag 'instructor[gender]' %></p>
<p>Mobile :: <%= text_field_tag 'instructor[mobile]' %></p>
<p>Email :: <%= text_field_tag 'instructor[email]' %></p>
<p>Expertise :: <%= text_field_tag 'instructor[expertise]' %></p>
<p>Description :: <%= text_area_tag 'instructor[description]' %></p>
<p><%= submit_tag 'Save changes' %></p>