<div style="min-height:420px">
<table>
<thead>
  <tr>
    <th style="">Date</th>
    <th>Customer name</th>
    <th width="150">Order Id</th>
    <th width="150">Service Name</th>
    <th>Price</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.created_at.strftime('%d - %m - %y') %></td>
    <td><a href="<%= edit_partners_customermanager_path(booking.customer.id) %>"><%= booking.customer.user.first_name %></a></td>
    <td><a href="<%= partners_customermanager_path(booking.token) %>"><%= booking.token %></a></td>
    <td><a href=""><%= booking.service.name %></a></td>
    <td>INR <%= booking.price %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>