<div class="panel callout radius" style="min-height:380px">
	<div class="row">
	<div class="small-6 columns">
		<p>Order id :: <%= @booking.order_id %></p>
	</div>
	<div class="small-5 columns">
		<p>Date :: <%= @booking.created_at.strftime("%d %m %y") %></p>
	</div>
	<div class="small-1 columns">
		<a href="<%= partners_customermanagers_path %>">Back</a>
	</div>
</div>
<div class="row">
<div class="small-12 columns">
		Service Name :: <%= @booking.service.name %>
</div>
</div>
<div class="row">
	<div class="small-12 columns">
		Detail :: <%= @booking.service.schedule %>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		User Details :: 
		<ul>
		<% @booking.details.each do |p| %>
			<li><%= (p.gender == "1") ? "Mr." : "Mrs." %> <%= p.name.capitalize %></li>
		<% end %>
		</ul>
	</div>
</div>
<div class="row right">
	Paid Amount :: INR <%= @booking.price %>
</div>

</div>