<%= render :partial => 'admins/partners/nav' %>

<%= form_tag admins_populars_path do %>

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <%= link_to 'Add New', new_admins_popular_path, :class => 'btn btn-primary pull-right', :style => 'background:white;color:rgb(230, 126, 34)', :data => { 'no-turbolink' => 'true' } %>
                <h3 class="panel-title">Populars</h3>
                <div class="clearfix"></div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th></th>
                        <th><input type="text" class="form-control" placeholder="Brand Name"></th>
                        <th><input type="text" class="form-control" placeholder="Center Name"></th>
                        <th><input type="text" class="form-control" placeholder="Area Name"></th>
                        <th><input type="text" class="form-control" placeholder="City"></th>
                    </tr>
                </thead>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Center Name</th>
                        <th>City</th>
                        <th>Category</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% @populars.each do |popular| %>
                        <tr>
                            <td></td>
                            <td><%= popular.center.name %></td>
                            <td><%= popular.center.try(:city).try(:name) %></td>
                            <td><%= popular.category.try(:name) %></td>
                            <td><%= link_to 'Remove', admins_popular_path(popular.id), method: :delete, data: { disable_with: 'Removing..'} %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

</div>
<%end%>

