<div class="row">
	<div class="col-sm-6">
		<h4>Account Settings</h4>
		<br>
		<br>
		<%=simple_form_for @c, url: customers_profile_path('v1'), :html => {:class => ''} do |f| %>
			<div class="col-xs-6">
				<%= f.input :full_name, input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
			</div>
			<div class="col-xs-6">
				<%= f.input :phone, label: 'Mobile', input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
			</div>
			<div class="col-xs-6">
				<%= f.input :address1, label: 'Address', input_html: { class: 'form-control input-sm', :placeholder => 'Address Line 1'}, wrapper_html: { class: 'form-group' } %>
			</div>
			<div class="col-xs-6">
            	<%= f.input :dob, as: :date, html5: true, label: 'Date of birth', input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
			</div>
			<div class="col-xs-12">
				<%= f.input :location, label: 'Home Location', input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
			</div>
			<div class="col-xs-6">
            	<%= f.input :emergency_name, input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
			</div>
			<div class="col-xs-6">
				<%= f.input :emergency_phone, input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>	
			</div>

            <div class="col-xs-12 cd-form">
            	<%= f.button :submit, "Save Changes", class: 'full-width has-padding', wrapper_html: { class: 'fieldset' } %>
            </div>
		<%end%>
	</div>
	<div class="col-sm-6">
		<h4>Change Your Password</h4>
		<%= render :partial => 'password_resets/change_pass' %>	
	</div>
	<div class="col-sm-12">
		<hr>
		<h4>Refer & Earn</h4>
		<%= render :template => 'customers/referrals/index' %>
	</div>
</div>

<%= content_for :linescript do  %>
<script>
		window.search_input = document.getElementById('user_location');
		window.city_name = new google.maps.places.Autocomplete(window.search_input);
</script>			
<% end %>
