<div class="row">
	<div class="col-xs-12">
		<h3 class="text-center">EDIT PROFILE</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<%=simple_form_for @c, url: customers_profile_path('v1') do |f| %>
			<div class="col-xs-12 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<%= f.input :full_name, input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
						<%= f.input :phone, label: 'Mobile', input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
						<%= f.input :address1, label: 'Address', input_html: { class: 'form-control input-sm', :placeholder => 'Address Line 1'}, wrapper_html: { class: 'form-group' } %>
						<%= f.input :address2, label: false, input_html: { class: 'form-control input-sm', :placeholder => 'Address Line 2'}, wrapper_html: { class: 'form-group' } %>
            <%= f.input :location, input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
            <%= f.input :dob, as: :date, html5: true, label: 'Date of birth', input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<%= f.input :emergency_name, input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>
						<%= f.input :emergency_phone, input_html: { class: 'form-control input-sm' }, wrapper_html: { class: 'form-group' } %>	
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-xs-12" style="margin-bottom:20px">
								<div class="upload-file">
									<%= f.attachment_field :image, class: 'upload-demo', id: 'upload-demo' %>
									<label data-title="Upload Image" for="upload-demo">
										<span data-title="No file selected..."></span>
									</label>
								</div>
							</div><!-- /.col -->
							<div class="col-xs-12">
								<%= image_tag "//d1djl7kr085bc1.cloudfront.net/store/#{@c.image_id}", :class => 'img img-thumbnail' %>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<%= f.submit 'Submit', :class => 'btn btn-success pull-right' %>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>


<script>
	$(document).ready(function(){
		window.search_input = document.getElementById('user_location');
		window.city_name = new google.maps.places.Autocomplete(window.search_input);
	})
</script>			
