<%= render :partial => 'layouts/header' %>

<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 style="color: rgb(230, 126, 34);margin-top: 40px;margin-bottom: 34px;">
            Thank you buying FitnessPapa Service!
          </h1>
        </div>
      </div>
      
     
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Order details</h4>
            </div>
            <div class="panel-body">
              <p>Confirmation Number :: <%= params[:txnid] %></p>
              <p>Service Name : <%= @service.name %></p>
              <p>Center Name : <%= @center.name %></p>
              <p>Service Date : <%= '' %></p>
              <p>Total Price : <%= params[:amount] %></p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="span7">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Contact Details</h4>
              </div>
              <div class="panel-body">
                <p>
                  Name : <%= params[:firstname] %> <br><br>
                  Date : <%= params[:addedon] %> <br> <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>	