<tr>
	<td><%= fpclass.name.capitalize %></td>
	<td><%= fpclass.try(:centers).try(:first).try(:place_name) %></td>
	<td><%= fpclass.start_time %> | <span><%= fpclass.duration %> <span>Minutes</span></span></td>
	<td><%= fpclass.try(:instructor).try(:name).try(:capitalize) %></td>
	<td><%= link_to 'Reserve', reserves_path(:class_id => fpclass.id), :class => 'btn btn-primary reserve-btn', method: :post, remote: :true %><br><span class='fp-count'><%= pluralize(fpclass.remaining_seats, 'seats') %></span> <span>left</span></td>
</tr>

