<tr id="fpclass_<%= fpclass.id %>">
	<td><h5><a href="<%= details_page_path(fpclass.try(:centers).try(:first).friendly_id) unless fpclass.try(:centers).try(:first).nil? %>"><%= fpclass.try(:centers).try(:first).try(:name).try(:capitalize) %></a></h5>
	</td>
	<td><h5>
		<%= link_to fpclass.name.capitalize, reserf_path(:id => fpclass.id), method: :get, remote: :true %></h5></td>
	<td><%= fpclass.start_time %> | <span><%= fpclass.duration %> <span>Minutes</span></span></td>
	<td><%= fpclass.try(:centers).try(:first).try(:place_name).split(',')[0] unless fpclass.try(:centers).try(:first).try(:place_name).nil? %></td>
	<td class="text-center"><%= link_to 'Reserve', reserf_path(:id => fpclass.friendly_id, :date => params[:q][:recursivedates_ondate_eq]), :class => 'btn btn-primary reserve-btn', method: :get, remote: :true %><br><span class='fp-count'><%= pluralize(fpclass.remaining_seats, 'seats') %></span> <span>left</span></td>
</tr>

