<tr id="fpclass_<%= fpclass.id %>">
	<td><h5><%= fpclass.try(:centers).try(:first).try(:name).try(:capitalize) %></h5></td>
	<td><h5><%= fpclass.name.capitalize %></h5><%= fpclass.try(:centers).try(:first).try(:place_name) %></td>
	<td><%= fpclass.start_time %> | <span><%= fpclass.duration %> <span>Minutes</span></span></td>
	<td><%= fpclass.try(:instructor).try(:name).try(:capitalize) %></td>
	<td class="text-center"><%= link_to 'Reserve', reserf_path(:id => fpclass.id), :class => 'btn btn-primary reserve-btn', method: :get, remote: :true %><br><span class='fp-count'><%= pluralize(fpclass.remaining_seats, 'seats') %></span> <span>left</span></td>
</tr>

