<%= search_form_for @c, :url => classes_search_path, :remote => true do |f| %>
  <%= hidden_field_tag 'q[recursivedates_ondate_eq]', params[:q][:recursivedates_ondate_eq] %>
  <div class="row">
      <div class="col-md-3 col-xs-12 m-bottom20">
          <label for="location">LOCATION</label>
          <div>
            <input id="cities_two" type="text" name="q[centers_place_name_cont_any]" placeholder="<%= params[:q][:centers_place_name_cont_any] || 'Type Locality or Landmark' %>" class="ui-autocomplete-input form-control form-square" autocomplete="off" style="margin-bottom:20px">
          </div>
      </div>
      
      <div class="col-md-3 col-xs-12 m-bottom20">
        <label for="facilities">ACTIVITIES</label>
        <div>
          <%= f.collection_select :centers_center_type_in, Center::CENTERTYPES, :to_s, :to_s, {}, { :class => 'magicsuggest', :style => "margin-bottom:20px" } %>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <label for="">&nbsp;</label>
        <div>
          <%= f.submit '  Search  ', :class => 'btn btn-default', :style => 'margin-right:20px' %>
        </div>
      </div>
  </div>
<% end %>