<div class="filter-result">
	<div class="list-view">
		<ul class="list">
		 <%@centers.each do |center|  %>
			<li class="comp-box barber-saloon">
			 <div class="comp-pic">
				<a href="#"><%= image_tag attachment_url(center, :image) %></a>
			 </div>
			 <div class="comp-info">
				<div class="comp-title">
				  <a href="#"><h4><%= center.name %></h4></a>
				</div>
			
				<div class="comp-rate">
				  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
				</div>
				
				<div class="comp-detail">
				  <p><%= center.brief_desc %></p>
				</div>
			 </div>
			
			 <div class="comp-price">
			 	<%center.center.services.each  do |service| %>
			 	<ul>
					<li><p><%= service.name %> </p></li>
					<li><p><span>`</span><%= service.selling_price %></p></li>
					<li><img src="/assets/time-icon.jpg" alt=""><p></p></li>
					<li class="book-slot"><a href="<%= book_now_path(center.center.friendly_id, service.friendly_id) %>">Book Now</a></li>
				</ul>
				<%end  %>
			 </div>
			 <div class="comp-see">
				<a href="<%= center_services_path(center.center.friendly_id) %>">See Full Services</a>
			 </div>
			</li>
		 <%end %>
		</ul>
	</div>
</div>