<div class="filter-result">
	<div class="list-view">
		<ul class="list">	
		 <%@data.each do |mc,center|  %>
			<%unless mc[0][0].blank? %>
			<li class="comp-box barber-saloon">
			 <div class="comp-pic">
				<a href="<%= center_category_services_path(center[0].friendly_id, mc[0][0].category.friendly_id) %>"><%= image_tag attachment_url(mc[1], :image) %></a>
			 </div>
			 <div class="comp-info">
				<div class="comp-title">
				  <a href="<%= center_category_services_path(center[0].friendly_id, mc[0][0].category.friendly_id) %>"><h4><%= center[0].name %></h4></a>
				</div>
				<div class="comp-rate">
				  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
				</div>
				<div class="comp-detail">
				  <p><%= mc[1].brief_desc.truncate(120) %></p>
				</div>
			 </div>
			 <div class="comp-price">
			 	<% mc[0].take(2).each  do |service| %>
			 	<ul>
					<li><p><%= service.name %> </p></li>
					<li><p><span>`</span><%= service.selling_price %></p></li>
					<li><img src="/assets/time-icon.jpg" alt=""><p></p></li>
					<li class="book-slot"><a href="<%= book_now_path(center[0].friendly_id, service.friendly_id) %>">Book Now</a></li>
				</ul>
				<%end%>
			 </div>
			 <div class="comp-see">
				<a href="<%= center_category_services_path(center[0].friendly_id, mc[0][0].category.friendly_id) %>">See Full Services</a>
			 </div>
			</li>
			<%end%>
		 <%end %>
		</ul>
	</div>
</div>