<!-- <div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role='tablist'>
                    <li role="presentation" class="active" id="fp-link"><%= link_to 'FITNESS STUDIO', search_path, remote: true %></li>
                    <li role="presentation" id="classes-link"><%= link_to 'CLASSES', classes_search_path, :remote => true %></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div> -->
<%= link_to 'STUDIO', search_path, id: 'studio-linker', style: 'display:none', remote: true %>
<%= link_to 'CLASSES', classes_search_path, id: 'class-linker', style: 'display:none', remote: true %>

<div class="row" style="background-color:#f1f5fc">
    <div class="container">
      <div class="panel hasMtop">
        <div class="panel-heading">
          <div class="cd-pricing-switcher">
            <p class="fieldset">
              <input type="radio" name="duration" value="monthly" id="monthly" checked>
              <label for="monthly">STUDIO</label>
              <input type="radio" name="duration" value="yearly" id="yearly">
              <label for="yearly">CLASSES</label>
              <span class="cd-switch"></span>
            </p>
          </div><!-- .cd-pricing-switcher -->
        </div>
        <div class="panel-body">
          <div class="clearfix">
            <fieldset class='search-container' id='center-search-container'>
              <%= search_form_for @c, :url => search_path, :remote => true do |f| %>
                <div class="row">
                    <div class="col-md-3 col-xs-12 m-bottom20">
                        <label for="location">LOCATION</label>
                        <div>
                          <input id="cities" type="text" name="q[place_name_cont_any]" placeholder="Type Locality or Landmark" class="ui-autocomplete-input form-control form-square" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-xs-12 m-bottom20">
                      <label for="facilities">ACTIVITIES</label>
                      <div>
                        <%= f.collection_select :center_type_in, Center::CENTERTYPES, :to_s, :to_s, {}, { :class => 'magicsuggest' } %>
                      </div>
                    </div>
                    <div class="col-md-3 col-xs-12 m-bottom20">
                      <label for="amenities">AMENITIES</label>
                      <div>
                        <%= f.collection_select :experiences_id_in, Experience.order(:name), :id, :name, {}, {multiple: true, :class => 'magicsuggest'} %>
                      </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                      <label for="">&nbsp;</label>
                      <div>
                        <%= f.submit '  Search  ', :class => 'btn btn-default', :style => '' %>
                        <a href="<%= search_path %>" class="btn btn-default">Reset</a>
                      </div>
                    </div>
                </div>
              <% end %>
            </fieldset>
            <fieldset class='search-container' id='classes-search-container' style='display:none'>
              <div id="classes-search">
                
              </div>
            </fieldset> 
          </div>
          <div class="clearfix" id="centers-section">
            <%= render @centers %>
          </div>
        </div>
        <div class="clearfix" id="classes-section" style="display:none">
          <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Center</th>
                  <th>Class</th>
                  <th>Time</th>
                  <th>Area</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="classes-content">
              </tbody>
            </table>
        </div>
      </div>
    </div>
</div>


<%= render 'homepage/passport' %>
<!-- Reserve modal is parent for model opens after reserve click -->
<div id="reserve-modal"></div>