<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role='tablist'>
                    <li role="presentation" class="active" id="fp-link"><%= link_to 'FITNESS STUDIO', search_path, remote: true %></li>
                    <li role="presentation" id="classes-link"><%= link_to 'CLASSES', classes_search_path, :remote => true %></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background:rgb(252, 252, 252)">
    <div class="cd-main-content"> <!-- Filters  -->
        <div class="cd-gallery">
            <div class="container">
              <fieldset class='search-container' id='center-search-container'>
                <legend>SEARCH FOR SERVICES</legend>
                <%= search_form_for @c, :url => search_path, :remote => true do |f| %>
                  <div class="row">
                      <div class="col-md-3 col-xs-12 m-bottom20">
                          <label for="location">LOCATION</label>
                          <div>
                            <input id="cities" type="text" name="q[place_name_cont_any]" placeholder="Type Locality or Landmark" class="ui-autocomplete-input form-control" autocomplete="off">
                          </div>
                      </div>
                      
                      <div class="col-md-3 col-xs-12 m-bottom20">
                        <label for="facilities">GENDER</label>
                        <div>
                          <%= f.collection_select :services_gender_id_in, Centertype.order(:name), :id, :name, {}, { :class => 'magicsuggest' } %>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 m-bottom20">
                        <label for="amenities">AMENITIES</label>
                        <div>
                          <%= f.collection_select :experiences_id_in, Experience.order(:name), :id, :name, {}, {multiple: true, :class => 'magicsuggest'} %>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12">
                        <label for="">&nbsp;</label>
                        <div>
                          <%= f.submit '  Search  ', :class => 'btn btn-default', :style => '' %>
                          <a href="<%= search_path %>" class="btn btn-default">Reset</a>
                        </div>
                      </div>
                  </div>
                <% end %>
              </fieldset>
              <fieldset class='search-container' id='classes-search-container' style='display:none'>
                <legend>SEARCH FOR CLASSES</legend>
                <div id="classes-search">
                  
                </div>
              </fieldset> 
            </div>
            <div class="container" id="centers-section">
              <%= render @centers %>
            </div>
            <div class="container" id="classes-section" style="display:none">
              <div id="classes-content">
                
              </div>
            </div>
        </div>
    </div>
</div>


<script>
  jQuery(document).ready(function($){
    $('.magicsuggest').magicSuggest([]);
    window.search_input = document.getElementById('cities');
    window.city_name = new google.maps.places.Autocomplete(window.search_input);
  });
</script>