<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Gallery</h3>
        <span></span>
    </div><!-- /page-title -->
    
    <ul class="page-stats">
      <%= link_to "BACK TO CENTER", partners_center_path(params[:center_id]), :class => 'btn btn-primary' %>
    </ul><!-- /page-stats -->
</div>


<div class="padding-md">

    <div class="panel">
        <div class="panel-heading">
            <label for="">Center Photo</label>
        </div>
        <div class="panel-body">
            <% unless @photos.count >= 3  %>
            <%= simple_form_for @photo, url: partners_center_galleries_path do |f| %>
              <div class="form-group clearfix">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="upload-file clearfix">
                        <%= f.attachment_field :image, class: 'upload-demo', id: 'upload-demo', direct: true %>
                        <label data-title="Select file" for="upload-demo">
                            <span data-title="No file selected..."></span>
                        </label>
                    </div>
                </div><!-- /.col -->
              </div><br>
              <div class="clearfix">
                <div class="col-xs-12"> 
                 <%= f.submit "Upload Center Image", :class => 'btn btn-primary btn-small' %>
                </div>
              </div>
            <% end %>
            <% end %>
        </div>
    </div>
    <div class="row" style="margin-top:30px">
    <% @photos.each do |photo| %>
        <div class="col-xs-4">
        <%= image_tag attachment_url(photo, :image), :class => 'img img-thumbnail', :style => 'width:100px;height:100px' %>
        <a data-method="delete" href="<%= partners_center_gallery_path(:id => photo.id) %>" rel="nofollow">Remove</a>
        </div>
    <%end%>
    </div>
</div>
