<div class="row footer big-padding">
	<div class="container hidden-xs">
		<div class="col-sm-2 col-xs-6">
			<ul class="list-unstyled">
				<li> <a href="<%= page_path('about') %>">About Us</a> </li>
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Company</a> </li> -->
				<li> <a href="<%= page_path('careers') %>">Careers</a> </li>
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Testimonials</a> </li> -->
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Awards</a> </li> -->
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Press</a> </li> -->
				<li> <a href="<%= page_path('faq') %>">FAQ</a> </li>
				<li> <a href="<%= page_path('contact') %>">Contact Us </a> </li>
			</ul>
		</div>
		<div class="col-sm-2 col-xs-6">
			<ul class="list-unstyled">
				<li><a href="<%= page_path('privacy-policy') %>">Privacy Policy</a> </li>
				<li><a href="<%= page_path('terms') %>">Terms</a> </li>
				<li><a href="<%= page_path('copyright') %>">Copyright Policy</a> </li>
				<!-- <li> <a href="<%= page_path('coming_soon') %>">FP Buddy</a> </li> -->
			</ul>
		</div>
		<div class="col-sm-3 col-xs-6">
			<ul class="list-unstyled">
				<li> <a href="/partners">Partners</a> </li>
				<!-- <li > <a href="<%= page_path('coming_soon') %>">Center Manager</a> </li> -->
				<!-- <li> <a href="<%= page_path('coming_soon') %>">How to Use Promotion Code</a> </li> -->
				<li> <a href="http://blog.fitnesspapa.com">Blog</a> </li>
			</ul>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<div class="row">
				<div class="col-xs-12">
					<!-- 	
					<div class="form-group">
					                        <input type="email" class="form-control" placeholder="Email Address">
					                    </div>
					                    <div class="form-group">
					                        <a href="#" class="form-control btn btn-primary disabled">Subscribe</a>
					                    </div> -->
					<!-- Begin MailChimp Signup Form -->
					
					<style type="text/css">
						#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">

					<form action="//fitnesspapa.us11.list-manage.com/subscribe/post?u=6d26a2c6e4d826ec4c8625c7b&amp;id=2ebe22b42e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<h6 style="margin-top:0px">Subscribe to our Newsletter</h6>
						<div class="form-group">
	                        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required >
	                    </div>
	                    <div class="form-group">
	                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="forn-control btn btn-primary" style="width:100%">
	                    </div>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot 1signups-->
                 <div style="position: absolute; left: -5000px;"><input type="text" name="b_6d26a2c6e4d826ec4c8625c7b_2ebe22b42e" tabindex="-1" value=""></div>
					    <div class="clear"></div>
					    </div>
					</form>
					</div>
					
					<!--End mc_embed_signup-->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<p class="text-center">
			© 2015. StunApp Technologies & Services Pvt Ltd.
			</p>
		</div>
	</div>
	<div class="container  visible-xs" style="margin:0px 14px">
		<div class="row">
			<div class="col-xs-12" style="margin-bottom:20px">
				<div id="mc_embed_signup">
            <form action="//fitnesspapa.us11.list-manage.com/subscribe/post?u=6d26a2c6e4d826ec4c8625c7b&amp;id=2ebe22b42e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<h6 style="margin-top:0px">Subscribe to our Newsletter</h6>
						<div class="form-group">
	                        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required >
	                    </div>
	                    <div class="form-group">
	                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="forn-control btn btn-primary" style="width:100%">
	                    </div>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot 1signups-->
               <div style="position: absolute; left: -5000px;"><input type="text" name="b_6d26a2c6e4d826ec4c8625c7b_2ebe22b42e" tabindex="-1" value=""></div>
					    <div class="clear"></div>
					    </div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<ul class="list-inline">
					<li> <a href="http://fitnesspapa.com/partners">Partners</a> </li> |
					<li><a href="<%= page_path('terms') %>">Terms</a> </li>|
					<li> <a href="<%= page_path('faq') %>">FAQ</a> </li> |
					<li> <a href="<%= page_path('about') %>">About Us</a> </li> |
					<li> <a href="<%= page_path('contact') %>">Contact Us</a> </li> |
					<li> <a href="http://blog.fitnesspapa.com">Blog</a> </li>
				</ul>
			</div>
			<div class="col-xs-12">
				<p class="text-center">© 2015. StunApp Technologies & Services Pvt Ltd.</p>
			</div>
		</div>
	</div>
</div>

<% [:notice, :error, :success, :warning].each do |n| %>
<%if flash[n] %>
    <script>var n = noty({text: '<%= flash[n] %>',type: '<%=n%>', layout: 'topRight',animation: {
    open: 'animated bounceInLeft', // Animate.css class names
    close: 'animated bounceOutLeft', // Animate.css class names
    easing: 'swing', // unavailable - no need
    speed: 500
    }});  </script>
<%end %>
<%end%>
<%unless flash['model_errors'].nil? %>
<%flash['model_errors'].each do |error| %>
    <%error[1].each do |msg| %>
        <script>var n = noty({text: '<%= error[0] %> <%= msg %>',type: 'error', layout: 'topRight',animation: {
        open: 'animated bounceInRight', // Animate.css class names
        close: 'animated bounceOutRight', // Animate.css class names
        easing: 'swing', // unavailable - no need
        speed: 500 // unavailable - no need
        }});  </script>
    <%end%>
<%end%>
<%end%>
