<footer class="main">
	
			<div class="footer_main">
				<div class="footer_box footer_about">
					
					<ul>
						<li> <a href="<%= page_path('about') %>">About Us</a> </li>
						<!-- <li> <a href="<%= page_path('coming_soon') %>">Company</a> </li> -->
						<li> <a href="<%= page_path('careers') %>">Careers</a> </li>
						<!-- <li> <a href="<%= page_path('coming_soon') %>">Testimonials</a> </li> -->
						<!-- <li> <a href="<%= page_path('coming_soon') %>">Awards</a> </li> -->
						<!-- <li> <a href="<%= page_path('coming_soon') %>">Press</a> </li> -->
						<li> <a href="<%= page_path('coming_soon') %>">FAQ</a> </li>
						<li> <a href="<%= page_path('contact') %>">Contact Us </a> </li>
					</ul>
				</div>
				<div class="footer_box footer_about">
					
					<ul>
						<li><a href="<%= page_path('privacy-policy') %>">Privacy Policy</a> </li>
						<li><a href="<%= page_path('terms') %>">Terms of use</a> </li>
						<li><a href="<%= page_path('copyright') %>">Copyright Policy</a> </li>
						<!-- <li> <a href="<%= page_path('coming_soon') %>">FP Buddy</a> </li> -->
					</ul>
				</div>
				<div class="footer_box footer_about">
					
					<ul>
						<li> <a href="<%= registrations_partner_path %>">Register Your Business</a> </li>
						<li> <a href="<%= page_path('coming_soon') %>">Center Manager</a> </li>
						<!-- <li> <a href="<%= page_path('coming_soon') %>">How to Use Promotion Code</a> </li> -->
						<li> <a href="<%= page_path('coming_soon') %>">FitnessPapa Community Blog</a> </li>
					</ul>
				</div>
				
				<div class="footer_box footer-signup">
					
					<div class="footer_cont">
						<div class="signup-box">
						<h6>Newsletter Sign Up</h6>
						<input type="text" placeholder="Email Address"><input type="button" value="GO">
						</div>
						<div class="social">
							<a href="https://www.facebook.com/pages/FitnessPapa/1551076705142591" class="fb" target="_blank"></a>
							<a href="https://twitter.com/FitnessPapa" class="tw" target="_blank"></a>
							<a href="https://plus.google.com/u/0/107305128857276700930/posts" class="gp" target="_blank"></a>
							<a href="<%= page_path('coming_soon') %>" class="in"></a>
							<a href="<%= page_path('coming_soon') %>" class="yt"></a>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- Mobile Footer Part start -->
			<div class="footer-mobile-main">
				<div class="footer_box footer-mobile">
				  <ul>
						<li> <a href="<%= page_path('coming_soon') %>">About Us</a> </li>
						<li> <a href="<%= page_path('coming_soon') %>">Contact us</a> </li>
						<li> <a href="<%= page_path('coming_soon') %>">Careers</a> </li>
						<li> <a href="<%= page_path('coming_soon') %>">Privacy Policy</a> </li>
						<li> <a href="<%= page_path('coming_soon') %>">Terms of use</a> </li>
						<li> <a href="register.html">Register Your Business</a> </li>
						<li> <a href="<%= page_path('coming_soon') %>">FitnessPapa Community Blog</a> </li>
					</ul>
					<p class="copyright" style="font-size: 12px;">&copy; 2015.  FitnessPapa.  All Rights Reserved.</p>
				</div>
			</div>
				
		<!-- end Footer -->		
		
</footer>

<div class="footer-quick-link">
	  <div class="quick-link" >
	  <h5>Quick Links</h5>
	  <ul style="margin-left:297px">
		<li> <a href="/categories/gym/populars">Gym</a> </li>
		<li> <a href="/categories/yoga/populars">Yoga</a> </li>
		<li> <a href="/categories/swimming/populars">Swimming</a> </li>
		<!-- <li> <a href="/categories/meditation/populars">Meditation</a> </li> -->
		<!-- <li> <a href="/categories/adventure/populars">Adventure</a> </li>
		<li> <a href="/categories/spa-saloon/populars">Spa & Saloon</a> </li> -->
		<!-- <li> <a href="/categories/consultant/populars">Consultant</a> </li>
		<li> <a href="/categories/kids-zone/populars">Kids Zone</a> </li> -->
	</ul>
	<p class="copyright">&copy; 2015. StunApp Technologies & Services Pvt Ltd.</p>
	</div>
</div>

<% [:notice, :error, :success, :warning].each do |n| %>
<%if flash[n] %>
    <script>var n = noty({text: '<%= flash[n] %>',type: '<%=n%>', layout: 'topRight',animation: {
    open: 'animated bounceInLeft', // Animate.css class names
    close: 'animated bounceOutLeft', // Animate.css class names
    easing: 'swing', // unavailable - no need
    speed: 500
    }});  </script>
<%end %>
<%end%>
<%unless flash['model_errors'].nil? %>
<%flash['model_errors'].each do |error| %>
    <%error[1].each do |msg| %>
        <script>var n = noty({text: '<%= error[0] %> <%= msg %>',type: 'error', layout: 'topRight',animation: {
        open: 'animated bounceInRight', // Animate.css class names
        close: 'animated bounceOutRight', // Animate.css class names
        easing: 'swing', // unavailable - no need
        speed: 500 // unavailable - no need
        }});  </script>
    <%end%>
<%end%>
<%end%>