<div class="row footer big-padding">
	<div class="container hidden-xs">
		<div class="col-sm-2 col-xs-6">
			<ul class="list-unstyled">
				<li> <a href="<%= page_path('about') %>">About Us</a> </li>
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Company</a> </li> -->
				<li> <a href="<%= page_path('careers') %>">Careers</a> </li>
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Testimonials</a> </li> -->
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Awards</a> </li> -->
				<!-- <li> <a href="<%= page_path('coming_soon') %>">Press</a> </li> -->
				<li> <a href="<%= page_path('coming_soon') %>">FAQ</a> </li>
				<li> <a href="<%= page_path('contact') %>">Contact Us </a> </li>
			</ul>
		</div>
		<div class="col-sm-2 col-xs-6">
			<ul class="list-unstyled">
				<li><a href="<%= page_path('privacy-policy') %>">Privacy Policy</a> </li>
				<li><a href="<%= page_path('terms') %>">Terms of use</a> </li>
				<li><a href="<%= page_path('copyright') %>">Copyright Policy</a> </li>
				<!-- <li> <a href="<%= page_path('coming_soon') %>">FP Buddy</a> </li> -->
			</ul>
		</div>
		<div class="col-sm-3 col-xs-6">
			<ul class="list-unstyled">
				<li> <a href="/partners">Partners</a> </li>
				<!-- <li > <a href="<%= page_path('coming_soon') %>">Center Manager</a> </li> -->
				<!-- <li> <a href="<%= page_path('coming_soon') %>">How to Use Promotion Code</a> </li> -->
				<li> <a href="http://blog.fitnesspapa.com">Blog</a> </li>
			</ul>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<div class="row">
				<div class="col-xs-12">
					<h6 style="margin-top:0px">Subscribe to our Newsletter</h6>	
					<div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <a href="#" class="form-control btn btn-primary disabled">Subscribe</a>
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<p class="text-center">
			© 2015. StunApp Technologies & Services Pvt Ltd.
			</p>
		</div>
	</div>
	<div class="container  visible-xs" style="margin:0px 14px">
		<div class="row">
			<div class="col-xs-12" style="margin-bottom:20px">
				<h5 style="margin-top:0px;margin-bottom:26px" class="text-center">Subscribe to our Newsletter</h5>	
				<div class="input-group">
                  <input type="email" class="form-control" placeholder="Email Address">
                  <span class="input-group-addon" style='background:rgb(66, 79, 99);color:white'>Subscribe</span>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<ul class="list-inline">
					<li> <a href="http://fitnesspapa.com/partners">Partners</a> </li> |
					<li><a href="<%= page_path('terms') %>">Terms of use</a> </li>|
					<li> <a href="<%= page_path('careers') %>">Careers</a> </li> |
					<li> <a href="http://blog.fitnesspapa.com">Blog</a> </li>
				</ul>
			</div>
			<div class="col-xs-12">
				<p class="text-center">© 2015. StunApp Technologies & Services Pvt Ltd.</p>
			</div>
		</div>
	</div>
</div>

<% [:notice, :error, :success, :warning].each do |n| %>
<%if flash[n] %>
    <script>var n = noty({text: '<%= flash[n] %>',type: '<%=n%>', layout: 'topRight',animation: {
    open: 'animated bounceInLeft', // Animate.css class names
    close: 'animated bounceOutLeft', // Animate.css class names
    easing: 'swing', // unavailable - no need
    speed: 500
    }});  </script>
<%end %>
<%end%>
<%unless flash['model_errors'].nil? %>
<%flash['model_errors'].each do |error| %>
    <%error[1].each do |msg| %>
        <script>var n = noty({text: '<%= error[0] %> <%= msg %>',type: 'error', layout: 'topRight',animation: {
        open: 'animated bounceInRight', // Animate.css class names
        close: 'animated bounceOutRight', // Animate.css class names
        easing: 'swing', // unavailable - no need
        speed: 500 // unavailable - no need
        }});  </script>
    <%end%>
<%end%>
<%end%>