<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale = 1.0" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<title><%= @title.nil? ? "Fitnesspapa" : @title %> </title>
	<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
	<script>
	  WebFont.load({
	    google: {
	      families: ['Open Sans']
	    }
	  });
	</script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'bookings', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
 <%= render :partial => 'layouts/header' %>
 <%= render :partial => 'layouts/search' %>
 <div class="container">
 <!-- content -->
	<div class="container">
		<div class="container-main">
			<div class="sqr-box-title book-app-title">
			<h2><%= @title unless @title.nil? %></h2>
			</div>
			<div class="sqr-boxs-cat">
				<div class="book-app">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
 </div>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>

 
</body>
</html>