<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= render :partial => 'layouts/header' %>
 <%= render :partial => 'layouts/search' %>
 <div class="container">
 
 
 	<div class="container-main">
 		<div class="sqr-box-title">
 		<h2>Results</h2>
 		</div>
 		<div class="sqr-boxs-cat">
 		
 		<div class="slider">
 			<ul class="bxslider">
 			  <li><%= image_tag attachment_url(@centerinfo, :image) %></li>
 			  <li><img src="/assets/center-slider-img.jpg" /></li>
 			  <li><img src="/assets/center-slider-img.jpg" /></li>
 			</ul>

 			<div id="bx-pager">
 			  <a data-slide-index="0" href=""><img src="/assets/center-slider-img-small.jpg" /></a>
 			  <a data-slide-index="1" href=""><img src="/assets/center-slider-img-small.jpg" /></a>
 			  <a data-slide-index="2" href=""><img src="/assets/center-slider-img-small.jpg" /></a>
 			</div>	
 		</div>
 		<div class="contact-detail">
 			<div class="box-detail-main">
 				<div class="box-detail">
 					<h2>Contact</h2>
 					<p>616 Highway Fifty-two <br>Bangalore, 21215</p>
 				</div>
 				<div class="box-detail">
 					<h2>Phone</h2>
 					<p>443-413-2356</p>
 				</div>
 				<div class="box-detail">
 					<h2>Rating</h2>
 					<p><img src="/assets/star.jpg"></p>
 				</div>
 			</div>
 			
 			<div class="box-detail-main">
 				<div class="box-detail hour-ope">
 					<h2>Hours of Operation</h2>
 					<pre>Mon      <%=@hours.mon_from  %> - <%= @hours.mon_to %></pre>
 					<pre>Tue        <%= @hours.tue_from %> - <%= @hours.tue_to %></pre>
 					<pre>Wed       <%= @hours.wed_from %> - <%= @hours.wed_to %></pre>
 					<pre>Thu         <%= @hours.thu_from %> - <%= @hours.thu_to %></pre>
 					<pre>Fri           <%= @hours.fri_from %> - <%= @hours.fri_to %></pre>
 					<pre>Sat            <%= @hours.sat_from %> - <%= @hours.sat_to %></pre>
 				</div>
 				<div class="box-detail">
 					<h2>Website</h2>
 					<p><%= @centerinfo.website %></p>
 				</div>
 			</div>
 			
 			<div class="button-org"><a href="<%=  center_services_path %>">Buy Services</a></div>
 			
 		</div>
 		
 		<div class="container-main">
 		<div id="container-tabs">
 			<ul class="tabs">
 				<li><a href="<%= center_about_path %>">About</a></li>
 				<li><a href="<%= center_services_path %>">Services</a></li>
 				<li><a href="<%= center_map_path %>">Map</a></li>
 				<li><a href="<%= center_reviews_path %>">Reviews</a></li>
 				<li><a href="<%= center_instructors_path %>">Instructors</a></li>
 				<li><a href="<%= center_experience_path %>">Experience</a></li>
 				<li><a href="<%= center_hours_path %>">Working Hours</a></li>
 				<li><a href="<%= center_upcoming_path %>">Upcoming Classes</a></li>
 				
 			</ul>
 			
 			<div id="tab_main_content">
				<%= yield %>
 			</div>
 			
 		</div>
		</div>
 		<!-- end content -->
 		
 	<div class="table-box">
 		<div class="table-title"><h2>Upcoming Classes</h2></div>
 		<table>
 			<thead>
 			<tr>
 				<th>Name</th>
 				<th>Start Date</th>
 				<th>Days</th>
 				<th>Schedule</th>
 				<th>Instructor</th>
 				<th>Seats</th>
 				<th colspan="2">Price</th>
 			</tr>
 			</thead>
 			
 			<tbody>
 			<% @upcoming.each do |uc|  %>
 			  <tr>
 				<td class="dp"><p><%= uc.name %></p></td>
 				<td class="dp"><p><%= uc.start_date.strftime('%d %b %Y') unless uc.start_date.nil? %></p></td>
				<td><p><%= uc.days %></p></td>
 				<td class="dp"><p><%= uc.schedule %></p></td>
 				<td class="dp"><p><%=  %></p></td>
 				<td class="dp"><%= uc.seats %></td>
 				<td class="dp"><p><span>&#96;</span><%= uc.selling_price %><br><span style='text-decoration: line-through;'><%= uc.original_price %></p></td>
 				<td class="dp"><div class="button-org"><a href="<%= book_now_path(:id => uc.friendly_id) %>">Book Now</a></div></td>
 			  </tr>
 			<%end%>
 			</tbody>
 		</table>
 	</div>
 
 </div>
 </div>
 
 </div>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>

 
</body>
</html>