<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= render :partial => 'layouts/header' %>
 <%= render :partial => 'layouts/search' %>
 <div class="container">
 
 
 	<div class="container-main">
 		<div class="sqr-box-title">
 		<h2>Results</h2>
 		</div>
 		<div class="sqr-boxs-cat">
 		
 		<div class="slider">
 			<ul class="bxslider">
 			  <li><%= image_tag attachment_url(@centerinfo, :image) %></li>
				<% @photos.each do |p| %>
				 <li><%= image_tag attachment_url(p, :image) %></li>
				<%end  %>
 			</ul>

 			<div id="bx-pager">
 			  <a data-slide-index="0" href=""><%= image_tag attachment_url(@centerinfo, :image, :fill, 132, 87) %></a>
 			  <% @photos.each_with_index do |p, index| %>
 			  	<%unless index >= 2 %>
 			  	<a data-slide-index="<%= index+1 %>" href=""><%= image_tag attachment_url(p, :image, :fill, 132, 87) %></a>
 			  	<%end  %>
 			  <%end  %>
 			</div>	
 		</div>
 		<div class="contact-detail">
 			<div class="box-detail-main">
 				<div class="box-detail">
 					<h2>Contact</h2>
 					<p><%= @accountinfo.address_1 %>, <%= @accountinfo.address_2 %><br><%= @accountinfo.city %>, <%= @accountinfo.pin %></p>
 				</div>
 				<div class="box-detail">
 					<h2>Phone</h2>
 					<p><%= @accountinfo.mobile %></p>
 				</div>
 				<div class="box-detail">
 					<h2>Rating</h2>
 					<p><img src="/assets/star.jpg"></p>
 				</div>
 			</div>
 			
 			<div class="box-detail-main">
 				<div class="box-detail hour-ope">
 					<h2>Hours of Operation</h2>
 					<pre>Sun      <%=@hours.sun_from  %> - <%= @hours.sun_to %></pre>
 					<pre>Mon      <%=@hours.mon_from  %> - <%= @hours.mon_to %></pre>
 					<pre>Tue        <%= @hours.tue_from %> - <%= @hours.tue_to %></pre>
 					<pre>Wed       <%= @hours.wed_from %> - <%= @hours.wed_to %></pre>
 					<pre>Thu         <%= @hours.thu_from %> - <%= @hours.thu_to %></pre>
 					<pre>Fri           <%= @hours.fri_from %> - <%= @hours.fri_to %></pre>
 					<pre>Sat            <%= @hours.sat_from %> - <%= @hours.sat_to %></pre>
 				</div>
 				<div class="box-detail">
 					<h2>Website</h2>
 					<p><%= @centerinfo.website %></p>
 				</div>
 			</div>
 			
 			<div class="button-org"><a href="<%=  center_services_path %>#container-tabs">Buy Services</a></div>
 			
 		</div>
 		<div id="target"></div>
 		<div class="container-main">
 		<div id="container-tabs">
 			<ul class="tabs">
			    <%= nav_with_target 'About', center_about_path, '#container-tabs' %>
 				<%= nav_with_target 'Services', center_services_path, '#container-tabs' %>
 				<%= nav_with_target 'Map', center_map_path, '#container-tabs' %>
 				<%= nav_with_target 'Reviews', center_reviews_path, '#container-tabs' %>
 				<%= nav_with_target 'Instructors', center_instructors_path, '#container-tabs' %>
 				<%= nav_with_target 'Experience', center_experience_path, '#container-tabs' %>
 				<%= nav_with_target 'Upcoming Classes', center_upcoming_path, '#container-tabs' %>
 			</ul>
 			
 			<div id="tab_main_content">
				<%= yield %>
 			</div>
 			
 		</div>
		</div>
 		<!-- end content -->
 		
 	
 
 </div>
 </div>
 
 </div>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>

 
</body>
</html>