<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= render :partial => 'layouts/header' %>
 <%= render :partial => 'layouts/search' %>
 <div class="container">
 
 
 	<div class="container-main">
 		<div class="sqr-box-title">
 		<h2>Results</h2>
 		</div>
 		<div class="sqr-boxs-cat">
 		
 		<div class="slider">
 			<div class="owl-carousel">
			  <% @photos.each do |p| %>
			  	<div><%= image_tag attachment_url(p, :image, :fit, 480, 300) %></div>
			  <%end  %>
 			</div>

 			<!-- <div id="bx-pager">
 				  <a data-slide-index="0" href=""><%= image_tag attachment_url(@centerinfo, :image, :fill, 132, 87) %></a>
 				  <% @photos.each_with_index do |p, index| %>
 				  	<%unless index >= 2 %>
 				  	<a data-slide-index="<%= index+1 %>" href=""><%= image_tag attachment_url(p, :image, :fill, 132, 87) %></a>
 				  	<%end  %>
 				  <%end  %>
 				</div> -->	
 		</div>
 		<div class="contact-detail">
 			<div class="box-detail-main">
 				<div class="box-detail">
 					<h2>Contact</h2>
 					<p><%= @accountinfo.address_1 %>, <%= @accountinfo.address_2 %><br><%= @accountinfo.center.city.name %>, <%= @accountinfo.pin %></p>
 				</div>
 				<div class="box-detail">
 					<h2>Phone</h2>
 					<p><%= @accountinfo.mobile %></p>
 				</div>
 				<div class="box-detail">
 					<h2>Rating</h2>
 					<p><img src="/assets/star.jpg"></p>
 				</div>
 			</div>
 			
 			<div class="box-detail-main">
 				<div class="box-detail hour-ope">
 					<h2>Hours of Operation</h2>
 					<pre>Sun      <%=@hours.sun_from  %> - <%= @hours.sun_to %></pre>
 					<pre>Mon      <%=@hours.mon_from  %> - <%= @hours.mon_to %></pre>
 					<pre>Tue        <%= @hours.tue_from %> - <%= @hours.tue_to %></pre>
 					<pre>Wed       <%= @hours.wed_from %> - <%= @hours.wed_to %></pre>
 					<pre>Thu         <%= @hours.thu_from %> - <%= @hours.thu_to %></pre>
 					<pre>Fri           <%= @hours.fri_from %> - <%= @hours.fri_to %></pre>
 					<pre>Sat            <%= @hours.sat_from %> - <%= @hours.sat_to %></pre>
 				</div>
 				<div class="box-detail">
 					<h2>Website</h2>
 					<p><%= @centerinfo.website %></p>
 				</div>
 			</div>
 			
 			<div class="button-org">
 			<%if params[:controller] == 'centers' %>
 			<a href="<%= center_category_services_path(:center_id => params[:id], :category_id => params[:category_id]) %>#container-tabs">Buy Services</a>
			<%else  %>
			<a href="<%= center_category_services_path(:id => params[:id], :category_id => params[:category_id]) %>#container-tabs">Buy Services</a>
			<%end  %>
 			</div>
 		</div>
 		<div id="target"></div>
 		<div class="container-main">
 		<div id="container-tabs">
 			<ul class="tabs">
			    <%= nav_with_target 'About', about_center_path(:id => params[:id], :category_id => params[:category_id]), '#container-tabs' %>
 				<li class="<%= "active" if params[:controller] == 'services' %>">
 				  <%if params[:controller] == 'centers' %>
		 			<a href="<%= center_category_services_path(:center_id => params[:id], :category_id => params[:category_id]) %>#container-tabs">Services</a>
					<%else%>
					<a href="<%= center_category_services_path(:id => params[:id], :category_id => params[:category_id]) %>#container-tabs">Services</a>
				  <%end  %>
 				</li>
 				<%= nav_with_target 'Map', map_center_path(:id => params[:id], :category_id => params[:category_id]), '#container-tabs' %>
 				<%= nav_with_target 'Reviews', reviews_center_path(:id => params[:id], :category_id => params[:category_id]), '#container-tabs' %>
 				<%= nav_with_target 'Instructors', instructors_center_path(:id => params[:id], :category_id => params[:category_id]), '#container-tabs' %>
 				<%= nav_with_target 'Experience', experience_center_path(:id => params[:id], :category_id => params[:category_id]), '#container-tabs' %>
 				<%= nav_with_target 'Upcoming Classes', upcoming_center_path(:id => params[:id], :category_id => params[:category_id]), '#container-tabs' %>
 			</ul>
 			
 			<div id="tab_main_content">
				<%= yield %>
 			</div>
 			
 		</div>
		</div>
 		<!-- end content -->
 		
 	
 
 </div>
 </div>
 
 </div>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>

 <script>
 $(".owl-carousel").owlCarousel({
 	autoPlay: 2000, //Set AutoPlay to 3 seconds
 	items : 1,
 	});
 </script>
</body>
</html>