<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<title><%= content_for?(:title) ? yield(:title) : "Fitness papa :: Dashboard" %></title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
 <%= render :partial => 'layouts/header' unless @header == false %>
 <!-- <div class="container">
 	<div class="embed-nav">
 		<ul class="menu">
 			<%= nav_link_customer 'Account Details', customers_details_path %>
 			<%= nav_link_customer 'My Bookings', customers_bookings_path %>
 			<%= nav_link_customer 'My Pass', customers_mypass_index_path %>
 			<li><a href="<%=%>">Email Preferences</a></li>
 			<li><a href="<%=%>">Referral</a></li>
 		</ul>
 	</div>
 </div> -->

 <div class="container">
     <div class="row">
 		<div class="col-md-12">
 			<div class="tabbable-panel">
 				<div class="tabbable-line">
 					<div class="tab-content">
 						<div class="tab-pane active" id="profile">
 							 <%= yield %>
 						</div>
 					</div>
 				</div>
 			</div>
		</div>
 	</div>
 </div>
 <%= render :partial => 'layouts/footer' %>
</body>
</html>