<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<title><%= content_for?(:title) ? yield(:title) : "Fitness papa :: Dashboard" %></title>
 
    <!-- Referral -->
	<link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

    <meta property="og:title" content="FitnessPapa!"/>
    <meta property="og:description" content="Your passport to best Fitness classes, Studios, Gym in bangalore, near you anywhere anytime in all Indian cities."/>
    <meta property="og:image" content="<%= asset_path("refer.png") %>"/>
    <meta property="og:url" content="<%= root_url %>"/>
	
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs4tO9vd5JNhXOX8h492hEwfstspyTQAw&libraries=places"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
 <%= render :partial => 'layouts/header' unless @header == false %>
 <!-- <div class="container">
 	<div class="embed-nav">
 		<ul class="menu">
 			<%= nav_link_customer 'Account Details', customers_details_path %>
 			<%= nav_link_customer 'My Bookings', customers_bookings_path %>
 			<%= nav_link_customer 'My Pass', customers_mypass_index_path %>
 			<li><a href="<%=%>">Email Preferences</a></li>
 			<li><a href="<%=%>">Referral</a></li>
 		</ul>
 	</div>
 </div> -->

 <div class="container">
     <div class="row">
 		<div class="col-md-12">
 			<%= yield %>
		</div>
 	</div>
 </div>
 <%= render :partial => 'layouts/footer' %>
 <%= yield :linescript %>
</body>
</html>
