<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= render :partial => 'layouts/header' %>
  <%= render :partial => 'layouts/search' %>
  <div class="container">
  			
  			
  				<div class="container-main">
  					<div class="sqr-box-title">
  					<h2>Results</h2>
  					</div>
  					<div class="sqr-boxs-cat">
  						<div class="pagination-filter">
  							<div class="pagination-filter-main">
  								
  								<div class="page-detail">
  									<p>Page 1 of 50</p>
  								</div>
  								<div class="prev">
  									<a href="#">Prev</a>
  								</div>
  								<div class="num">
  									<a href="#" class="active">1</a>
  									<a href="#">2</a>
  									<a href="#">3</a>
  									<a href="#">4</a>
  									<a href="#">5</a>
  								</div>
  								<div class="next">
  									<a href="#">Next</a>
  								</div>
  								
  								<div class="pagination-button">
  									<div class="check-box">
  										<input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" checked="">
  									<label for="checkboxG4" class="css-label"><img src="/assets/boy-checkbox.jpg"></label>
  									
  									<input type="checkbox" name="checkboxG5" id="checkboxG5" class="css-checkbox">
  									<label for="checkboxG5" class="css-label"><img src="/assets/girl-checkbox.jpg"></label>
  									
  									</div>
  									<div class="view-box">
  										<a href="filter-list.html" class="listview"></a>
  										<a href="#" class="gridview active"></a>
  										<a href="filter-map.html" class="mapview"></a>
  									</div>
  								</div>
  								
  							</div>
  						</div>
  						<div class="search-result">
  					 	<div class="sidebar-filter">
                <div class="sidebar-heading">
                  <h2>Filters</h2>
                </div>

                <%= search_form_for @c, :url => filters_grid_path do |f| %>

                  <%= f.label :services_selling_price_gteq %>
                  <%= f.search_field :services_selling_price_gteq %>
                  
                  <%= f.label :services_gender_id_eq %>
                  <%= f.search_field :services_gender_id_eq %>
                    
                
                  <%= f.submit %>
                <% end %>

              </div>
  						<%= yield %>
  						<%= render :partial => 'filters/pagination' %>
  						
  						</div>
  					</div>
  					
  				</div>
  				
  			</div>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>
</body>
</html>