<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= render :partial => 'layouts/header' %>
  <%= render :partial => 'layouts/search' %>
  <div class="container">
  			
  			
  				<div class="container-main">
  					<div class="sqr-box-title">
  					<h2>Results</h2>
  					</div>
  					<div class="sqr-boxs-cat">
  						<div class="pagination-filter">
  							<div class="pagination-filter-main">
  								
  								<div class="page-detail">
  									<p>Page 1 of 50</p>
  								</div>
  								<div class="prev">
  									<a href="#">Prev</a>
  								</div>
  								<div class="num">
  									<a href="#" class="active">1</a>
  									<a href="#">2</a>
  									<a href="#">3</a>
  									<a href="#">4</a>
  									<a href="#">5</a>
  								</div>
  								<div class="next">
  									<a href="#">Next</a>
  								</div>
  								
  								<div class="pagination-button">
  									<div class="check-box">
  										<input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" checked="">
  									<label for="checkboxG4" class="css-label"><img src="/assets/boy-checkbox.jpg"></label>
  									
  									<input type="checkbox" name="checkboxG5" id="checkboxG5" class="css-checkbox">
  									<label for="checkboxG5" class="css-label"><img src="/assets/girl-checkbox.jpg"></label>
  									
  									</div>
  									<div class="view-box">
  										<a href="filter-list.html" class="listview"></a>
  										<a href="#" class="gridview active"></a>
  										<a href="filter-map.html" class="mapview"></a>
  									</div>
  								</div>
  								
  							</div>
  						</div>
  						<div class="search-result">
  					 	<div class="sidebar-filter">
                <div class="sidebar-heading">
                  <h2>Filters</h2>
                </div>

                <%= search_form_for @c, :url => filters_grid_path do |f| %>

                      <div class="sidebar-box">
                        <h3>Category</h3>
                        <%= f.collection_select :centerinfo_categories_id_in, Category.order(:name), :id, :name, {} %>
                      </div>
                      <div class="sidebar-box">
                      
                        <h3>Area</h3>

                        <select name="Area">
                          <option value="Dehradun">Dehradun</option>
                          <option value="demo">Demo</option>
                          <option value="demo">Demo</option>
                          <option value="demo">Demo</option>
                        </select>
                        
                      </div>
                      
                      <div class="sidebar-box">
                        <h3>Distance</h3>
                      </div>
                      
                      <div class="sidebar-box">
                        
                        <h3>Price</h3>
                        
                        <%= f.text_field :services_selling_price_lteq %>
                        
                      </div>
                      <%= f.submit %>
                      
                      <div class="sidebar-box">
                        
                        <h3>Gender</h3>
                        
                        <div class="sidebar-checkbox">
                          <%= f.collection_select :services_gender_id_in, Centertype.order(:name), :id, :name, {} %>
                        </div>
                        
                      </div>
                      
                      <div class="sidebar-box">
                        
                        <h3>Ratings</h3>
                        
                        <div class="sidebar-checkbox">
                        <input type="checkbox" name="1Star" id="1Star" class="css-checkbox" />
                          <label for="1Star" class="css-label"><p>1 Star</p></label>
                        </div>
                        
                        <div class="sidebar-checkbox">
                          <input type="checkbox" name="2Stars" id="2Stars" class="css-checkbox" />
                          <label for="2Stars" class="css-label"><p>2 Stars</p></label>
                        </div>
                        
                        <div class="sidebar-checkbox">
                          <input type="checkbox" name="3Stars" id="3Stars" class="css-checkbox" />
                          <label for="3Stars" class="css-label"><p>3 Stars</p></label>
                        </div>
                        
                        <div class="sidebar-checkbox">
                          <input type="checkbox" name="4Stars" id="4Stars" class="css-checkbox" />
                          <label for="4Stars" class="css-label"><p>4 Stars</p></label>
                        </div>
                        
                        <div class="sidebar-checkbox">
                          <input type="checkbox" name="5star" id="5star" class="css-checkbox" />
                          <label for="5star" class="css-label"><p>5 Stars</p></label>
                        </div>
                        
                      </div>
                      
                      <div class="sidebar-box">
                        
                        <h3>Experience</h3>
                        
                      </div>
                 
                <% end %>

              </div>
  						<%= yield %>
  						<%= render :partial => 'filters/pagination' %>
  						
  						</div>
  					</div>
  					
  				</div>
  				
  			</div>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>
</body>
</html>