<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= render :partial => 'layouts/head' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs4tO9vd5JNhXOX8h492hEwfstspyTQAw&libraries=places"></script>
  <%= render :partial => 'shared/zopim' %>

</head>
<body>
 <%= render :partial => 'layouts/tagmanager' %>
 <%= render :partial => 'layouts/header' %>
 <%= render :partial => 'layouts/notices' %>
 <%= yield  %>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>
 <%= render :partial => 'layouts/analytics' %>
 <%= javascript_include_tag 'application' %>
 <script src="//unslider.com/unslider.min.js"></script>
 <script>
   $(document).on('page:change', function() {
    if (window._gaq != null) {
     return _gaq.push(['_trackPageview']);
    } else if (window.pageTracker != null) {
     return pageTracker._trackPageview();
    };
   });
  </script>
  <script>
    (function(){
		$('.magicsuggest').magicSuggest([]);
	    window.search_input = document.getElementById('cities');
	    window.city_name = new google.maps.places.Autocomplete(window.search_input);
    })()
  </script>

  <%= yield :linescript %>

   <script type="application/ld+json">
    { "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Fitnesspapa",
      "logo": "https://d1djl7kr085bc1.cloudfront.net/assets/logo.png",
      "url" : "https://fitnesspapa.com",
      "email": "support@fitnesspapa.com",
      "founder": "Sourabh Gupta",
      "contactPoint" : [{ "@type" : "ContactPoint","telephone" : "(+91) 903-600-3761", "contactType" : "sales"}],
      "sameAs" : [ "https://www.facebook.com/atfitnesspapa",
          "https://twitter.com/fitnesspapa",
          "https://www.linkedin.com/company/fitnesspapa"] 
    }
    </script>
</body>
</html>
