<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= render :partial => 'layouts/header' unless @header == false %>
 <%= yield  %>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>
 <%= render :partial => 'layouts/analytics' %>
</body>
</html>