<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= render :partial => 'layouts/head' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs4tO9vd5JNhXOX8h492hEwfstspyTQAw&libraries=places"></script>
</head>
<body>
 <%= render :partial => 'layouts/tagmanager' %>
 <%= render :partial => 'layouts/header' %>
 <%= yield  %>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>
 <%= render :partial => 'layouts/analytics' %>
 <%= javascript_include_tag 'application' %>
 <script>
   $(document).on('page:change', function() {
    if (window._gaq != null) {
     return _gaq.push(['_trackPageview']);
    } else if (window.pageTracker != null) {
     return pageTracker._trackPageview();
    };
   });
  </script>
  <script>
    (function(){
		$('.magicsuggest').magicSuggest([]);
	    window.search_input = document.getElementById('cities');
	    window.city_name = new google.maps.places.Autocomplete(window.search_input);
    })()
  </script>
  <%= yield :linescript %>
</body>
</html>
