<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= render :partial => 'layouts/head' %>
 <script>
   $(document).on('page:change', function() {
    if (window._gaq != null) {
     return _gaq.push(['_trackPageview']);
    } else if (window.pageTracker != null) {
     return pageTracker._trackPageview();
    }
   });
 </script>
</head>
<body>
 <%= render :partial => 'layouts/tagmanager' %>
 <%= render :partial => 'layouts/header' %>
 <%= yield  %>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>
 <%= render :partial => 'layouts/analytics' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs4tO9vd5JNhXOX8h492hEwfstspyTQAw&libraries=places"></script>
</body>
</html>
