<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title.nil? ? "Fitnesspapa" : @title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="FitnessPapa">
	
	<%= stylesheet_link_tag 'partners', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

  <body class="overflow-hidden">
	
	<div id="wrapper" class="preload">
		<div id="top-nav" class="skin-3 fixed">
			<div class="brand">
				<span>FP -</span>
				<span class="text-toggle">Partner</span>
			</div><!-- /brand -->
			<button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav-notification clearfix">
				<li class="profile dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<strong><%= current_partner.name %></strong>
						<span><i class="fa fa-chevron-down"></i></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="clearfix" href="#">
								<%= image_tag 'avatar.png' %>
								<div class="detail">
									<strong><%= current_partner.name %></strong>
									<p class="grey"><%= current_partner.partner.email %></p> 
								</div>
							</a>
						</li>
						<li><a tabindex="-1" href="" class="theme-setting"><i class="fa fa-cog fa-lg"></i> Setting</a></li>
						<li class="divider"></li>
						<li><%= link_to 'Logout', partners_logout_path, :confirm => 'Do you want to logout?', :method => :delete %></li>
					</ul>
				</li>
			</ul>
		</div>
		<aside class="fixed skin-5">
			<div class="sidebar-inner scrollable-sidebar">
				<div class="size-toggle">
					<a class="btn btn-sm" id="sizeToggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="btn btn-sm pull-right logoutConfirm_open"  href="#logoutConfirm">
						<i class="fa fa-power-off"></i>
					</a>
				</div><!-- /size-toggle -->	
				<div class="user-block clearfix">
					<%= image_tag 'avatar.png' %>
					<div class="detail">
						<strong><%= current_partner.name %></strong>
						<ul class="list-unstyled">
							<li><a href="#">Profile</a></li>
						</ul>
					</div>
				</div>
				<div class="main-menu">
					<ul>
						<li>
							<a href="<%= partners_orders_path %>">
								<span class="menu-icon">
									<i class="fa fa-desktop fa-lg"></i> 
								</span>
								<span class="text">
									Orders
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
						<li>
							<a href="<%= partners_centers_path %>">
								<span class="menu-icon">
									<i class="fa fa-file-text fa-lg"></i> 
								</span>
								<span class="text">
									Centers
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
					</ul>
				</div><!-- /main-menu -->
			</div><!-- /sidebar-inner -->
		</aside>

		<div id="main-container">
			<%= yield %>
		</div><!-- /main-container -->
		<!-- Footer
		================================================== -->
		<footer>
			<div class="row">
				<div class="col-sm-6">
					<span class="footer-brand">
						<strong>F</strong><strong class="text-danger">P</strong> Partner
					</span>
					<p class="no-margin">
						&copy; 2015 <strong>Fitness Papa</strong>. ALL Rights Reserved. 
					</p>
				</div><!-- /.col -->
			</div><!-- /.row-->
		</footer>
		
		
		
	</div><!-- /wrapper -->

	<%= javascript_include_tag 'partners', 'data-turbolinks-track' => true %>
  </body>
</html>
