<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Fitness papa :: Dashboard" %></title>

	<%= stylesheet_link_tag "partner" %>
	<%= javascript_include_tag "partner" %>
	<%= csrf_meta_tags %>
	<style type="text/css">
	
	.clear{clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
	.embed-nav {margin-top:18px;}
	.embed-nav ul{border-bottom:1px solid #e3e3e3; position: relative;}
	.embed-nav li{display: inline-block;padding: 8px 9px 0px;}
	.embed-nav .sub { position: absolute;left:-20px;top:37px;}
	.embed-nav .sub a{font-size:13px;}
	.embed-nav li a{
	  text-decoration: none;
	  color: rgb(149, 155, 160);
	  display: inline-block;
	  position: relative;
	  padding-bottom:8px;
	}
	.embed-nav li.active>a{
		color: rgb(233, 144, 73);
		border-bottom:2px solid rgb(237, 116, 19);
	}
	fieldset{border: 1px solid #DDDDDD;
  		padding: 1.11111rem;
  		margin: 1rem 0;}
  	table th{
  		color: white !important;
  	}
	</style>
	<style type="text/css">
	.selectize-control::before {
		-moz-transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
		content: ' ';
		z-index: 2;
		position: absolute;
		display: block;
		top: 12px;
		right: 34px;
		width: 16px;
		height: 16px;
		background: url(images/spinner.gif);
		background-size: 16px 16px;
		opacity: 0;
	}
	.selectize-control.loading::before {
		opacity: 0.4;
	}
	</style>
	<style>
		/* css for timepicker */
		.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
		.ui-timepicker-div dl { text-align: left; }
		.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
		.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
		.ui-timepicker-div td { font-size: 90%; }
		.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

		.ui-timepicker-rtl{ direction: rtl; }
		.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
		.ui-timepicker-rtl dl dt{ float: right; clear: right; }
		.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
	</style>
</head>
<body>
 <%= render :partial => 'layouts/header' unless @header == false %>

<% params[:id] = params[:center_id] if params[:id].nil? %>

 <div class="container">
	<div class="embed-nav">
		<ul class="menu">
			<li class="<%= "active" if params[:controller].include? 'dashboard' %>"><a href="<%=partners_dashboard_path(:id => params[:id])  %>">Summary</a></li>
			<li class="<%= "active" if params[:controller].include? 'center' %>"><a href="<%= partners_center_accounts_path(:center_id => params[:id]) %>">Center Configuration</a>
				<ul class="sub dropit-submenu" id="center-conf">
				<% unless params[:controller] == 'partners/centers' %>
				<% unless params[:controller].include? 'dashboard' %>
					<%= nav_link 'Account Details', partners_center_accounts_path %>
					<%= nav_link 'Center Setup', partners_center_details_path %>
					<%= nav_link 'Services', partners_center_services_path %>
					<%= nav_link 'Instructors', partners_center_instructors_path %>
					<%= nav_link 'Pass', '#' %>
					<%= nav_link 'Coupons', '#' %>
					<%= nav_link 'Center Manager', '#' %>
				<%end  %>
				<%end  %>
				</ul>
			</li>
			<li><a href="<%=  %>">Multicenter Manager</a></li>
			<li><a href="<%=  %>">Customer Manager</a></li>
			<li><a href="<%=  %>">Payment Manager</a></li>
			<li><a href="">Report Manager</a></li>
		</ul>
	</div>
</div>
<div class="container" style="margin-top:70px">
	<%= yield  %>
</div>
 <%= render :partial => 'layouts/dbfooter' %>
</body>
</html>